[2020-09-25 13:52] aayushi-droid opened #1 "create edabit issues"
Before submitting a PR please Check some details.Check Edabit for problem task

- [ ]  Check for the problem and make sure it's doesn't exist in solution already
- [ ] fileName formet should be in camelcase
    example- returnTheNextNumber.py
- [ ]  Add label for Problem
- [ ]  In file there should be problem statement and link to probelm
    example -
[code]

This repository is vaild for Hacktobe

[2020-09-25 16:13] aayushi-droid opened #2 "Return the Sum of Two Numbers"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement:** Create a function that takes two numbers as arguments and return their sum.
**Problem Link:** https://edabit.com/challenge/rZToTkR5eB9Zn4zLh

---
Before submitting a PR please Check some details.Check Edabit for problem task

- [ ] fileName formet should be in camelcase
    exa

[2020-09-25 16:14] aayushi-droid opened #3 "Drunken Python"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement:** Python got drunk and the built-in functions `str()` and `int()` are acting odd:
**Problem Link:** https://edabit.com/challenge/pfn6QRn6eiTHEPpSs

---
Before submitting a PR please Check some details.Check Edabit for problem task

- [ ] fileName formet should be in camelcase

[2020-09-25 16:15] aayushi-droid opened #4 "FizzBuzz Interview Question"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement:** Create a function that takes a number as an argument and returns "Fizz", "Buzz" or "FizzBuzz".
**Problem Link:** https://edabit.com/challenge/WXqH9qvvGkmx4dMvp

---
Before submitting a PR please Check some details.Check Edabit for problem task

- [ ] fileName formet should be i

[2020-09-25 16:16] aayushi-droid opened #5 "A Circle and Two Squares"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement:** Imagine a circle and two squares: a smaller and a bigger one. For the smaller one, the circle is a circumcircle and for the bigger one, an incircle.
![](https://edabit-challenges.s3.amazonaws.com/scale.png)
Create a function, that takes an integer (radius of the circle) and ret

[2020-09-25 16:17] aayushi-droid opened #6 "Factorial of a Number"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement:** Create a function that receives a non-negative integer and returns the factorial of that number.
**Problem Link:** https://edabit.com/challenge/PNbsQzmDR3CJ9JHkB

---
Before submitting a PR please Check some details.Check Edabit for problem task

- [ ] fileName formet should be

[2020-09-25 16:22] aayushi-droid opened #7 "Friday the 13th"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement:** Given the month and year as numbers, return whether that month contains a Friday 13th.
**Problem Link:** https://edabit.com/challenge/Xkc2iAjwCap2z9N5D

---
Before submitting a PR please Check some details.Check Edabit for problem task

- [x] fileName formet should be in camelc

[2020-09-25 16:23] aayushi-droid opened #8 "Combinations"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement:** Create a function that takes a variable number of arguments, each argument representing the number of items in a group, and returns the number of permutations (combinations) of items that you could get by taking one item from each group.
**Problem Link:** https://edabit.com/cha

[2020-09-25 16:24] aayushi-droid opened #9 "Pentagonal Number"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement:** Write a function that takes a positive integer and calculates how many dots exist in a pentagonal shape around the center dot on the Nth iteration.

In the image below you can see the first iteration is only a single dot. On the second, there are 6 dots. On the third, there are

[2020-09-25 16:25] aayushi-droid opened #10 "Calculated Bonus"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement:** Check Link
**Problem Link:** https://edabit.com/challenge/ksiA6Q34iXgTcMeZF

---
Before submitting a PR please Check some details.Check Edabit for problem task

- [ ] fileName formet should be in camelcase
    example- returnTheNextNumber.py
- [ ]  Add label for Problem
- [ ]

[2020-09-25 16:30] jakansha2001 commented on #6
Can i work on this issue?

[2020-09-25 16:31] jakansha2001 commented on #2
Can you assign me this issue?

[2020-09-25 16:32] aayushi-droid commented on #6
- [ ✔️] task assigned

@jakansha2001

[2020-09-25 16:34] aayushi-droid commented on #2
- [✔️ ] Task Assigned

[2020-09-25 16:34] tapish2000 commented on #3
Can you assign the issue to me? I would love to do it.

[2020-09-25 16:37] kunalrustagi08 commented on #4
Can this task be assigned to me?

[2020-09-25 16:38] aswarth123 commented on #5
I will be happy to resolve this issues so can you assign it to me?

[2020-09-25 16:38] aayushi-droid commented on #3
- [✔️ ] Task Assigned @tapish2000

[2020-09-25 16:39] aayushi-droid commented on #4
- [✔️ ] Task Assigned @kunalrustagi08

[2020-09-25 16:39] aayushi-droid commented on #5
- [✔️ ] Task Assigned @aswarth123

[2020-09-25 16:40] kunalrustagi08 commented on #10
would be happy to resolve this issue.

[2020-09-25 16:42] aayushi-droid commented on #10
- [ ✔️]  Task assigned @kunalrustagi08

[2020-09-25 17:02] duarte2025 commented on #9
Can i work on this issue?

[2020-09-25 17:05] aayushi-droid commented on #9
- [✓]  Task assigned @duarte2025

[2020-09-25 17:18] #5 closed

[2020-09-25 18:18] aayushi-droid opened #12 "Double Character Swap"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement:** Write a function to replace all instances of character c1 with character c2 and vice versa.
**Problem Link:** https://edabit.com/challenge/mHRyhyazjCoze5jSL

---
Before submitting a PR please Check some details.Check Edabit for problem task

- [ ] fileName formet should be in c

[2020-09-25 18:19] aayushi-droid opened #13 "List of Multiples"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement:** Create a function that takes two numbers as arguments (num, length) and returns a list of multiples of num up to length.
**Problem Link:**  https://edabit.com/challenge/BuwHwPvt92yw574zB

---
Before submitting a PR please Check some details.Check Edabit for problem task

- [ ]

[2020-09-25 18:21] aayushi-droid opened #14 "Smiley Faces :)"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement:** You will be given a string of characters containing only the three characters : ( ) :

Create a function returns a number based on the number of sad and smiley faces there are.

- The happy faces :) and (: are worth 1.
- The sad faces :( and ): are worth -1.

**Problem Link:**

[2020-09-25 18:22] aayushi-droid opened #15 "Simple OOP Calculator"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement:** Create methods for the Calculator class that can do the following:

- Add two numbers.
- Subtract two numbers.
- Multiply two numbers.
- Divide two numbers.

**Problem Link:** https://edabit.com/challenge/ta8GBizBNbRGo5iC6

---
Before submitting a PR please Check some details.C

[2020-09-25 18:23] aayushi-droid opened #16 "New Word Builder"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement:** Create a function that builds a word from the scrambled letters contained in the first list. Use the second list to establish each position of the letters in the first list. Return a string from the unscrambled letters (that made-up the word).

**Problem Link:**  https://edabit

[2020-09-25 18:30] #3 closed

[2020-09-25 18:42] gokulrajanpillai commented on #13
I call dibs

[2020-09-25 18:43] jayanthj737 opened #18 "Python: Number of Squares in an N * N Grid"
In Cpp - https://github.com/Py-Droid/Edabit-Solutions/issues/16
Before jumping into Pr first comment for assign.

**Create a function that calculates the number of different squares in an n * n square grid.** :
**https://edabit.com/challenge/ncqFJAp4bBiGwfBcg** :
**Choose one Category** - Easy
**question category** : Math

---
Before submitting a PR please Check some details.

- [ ] fileName forme

[2020-09-25 18:44] tapish2000 commented on #8
Can you assign this one to me, please?

[2020-09-25 18:44] aayushi-droid commented on #13
- [✓]  Task Assigned
@gokulrajanpillai

[2020-09-25 18:46] aayushi-droid commented on #8
- [✓] Task Assigned

@tapish2000

Pull request for HacktoberFest will count from 1 october to 31 october

[2020-09-25 18:50] jayanthjj commented on #18
@aayushi-droid Can I work on it?

[2020-09-25 18:50] aayushi-droid opened #19 "Number of Squares in an N * N Grid"
same issue in cpp - https://github.com/Py-Droid/Edabit-Solutions/issues/16

Before jumping into Pr first comment for assign.

**Create a function that calculates the number of different squares in an n * n square grid.** :
**https://edabit.com/challenge/ncqFJAp4bBiGwfBcg** :
**Choose one Category** - Easy
**question category** : Math

---
Before submitting a PR please Check some details.

- [ ] fi

[2020-09-25 18:51] #19 closed

[2020-09-25 18:52] aayushi-droid commented on #18
- [✓ ]  Tasl Assigned
@jayanthj737

[2020-09-25 18:53] tapish2000 commented on #8
Yeah, I will create a pull request on 1 October. Can you please keep me assigned for this, I have written the code already.

[2020-09-25 18:58] matheusqz commented on #14
@aayushi-droid Can I work on it?

[2020-09-25 19:01] gokulrajanpillai commented on #7
Pleaes assign me for this.

[2020-09-25 19:01] aayushi-droid opened #20 "Edabit Solution Using Cpp"
Want to Use C++ for Edabit Code

Please Consider This Repo :- https://github.com/Py-Droid/Edabit-Solutions

[2020-09-25 19:02] gokulrajanpillai commented on #12
Please assign me for this. Thanks

[2020-09-25 19:03] aayushi-droid commented on #14
- [✓]  Task Assigned, Go Ahead
@Matheusqz

[2020-09-25 19:05] aayushi-droid commented on #12
- [✓]  Task Assigned, Go Ahead
@gokulrajanpillai

[2020-09-25 19:07] jayanthjj commented on #18
#21 @aayushi-droid

[2020-09-25 19:08] jayanthjj commented on #18
A quick doubt how to get the PR done in the same issue itself?

[2020-09-25 19:09] aayushi-droid commented on #18
Delete .DS_Store as mentiond
- add, commit and push it will get automaticlly to PR

[2020-09-25 19:10] #18 closed

[2020-09-25 19:11] jayanthj737 commented on #18
Done yeah!

[2020-09-25 19:21] keshav304 commented on #15
Hey @aayushi-droid can you assign me  this issue

[2020-09-25 19:35] aayushi-droid commented on #15
- [✓]  Task Assigned
@keshav304

[2020-09-25 19:38] matheusqz commented on #16
@aayushi-droid Can I work on it?

[2020-09-25 19:45] aayushi-droid commented on #16
yes sure
- [✓]  Task assigned
@Matheusqz

[2020-09-25 20:30] gokulrajanpillai commented on #12
can you add me as contributor to make the PR? I will make it only on Oct1

[2020-09-26 07:57] meta-crusher commented on #7
can u assign this problem to me.

[2020-09-26 07:59] aayushi-droid commented on #7
- [x] Task assigning to @VaderX
Best of Luck

[2020-09-26 08:52] Jayshah6699 opened #26 "Phone Letter Combinations"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement:**Given a string containing digits from 2-9 inclusive, return all possible letter combinations that the number could represent.
**Problem Link:** https://edabit.com/challenge/npLurjMJofmFRCJwx

---
Before submitting a PR please Check some details.Check Edabit for problem task

- [

[2020-09-26 08:54] Jayshah6699 commented on #26
@aayushi-droid assign me the task

[2020-09-26 08:59] aayushi-droid commented on #26
- [x] Assigning task to @Jayshah6699

Valid pull request for HacktoberFest will count from 1 October

[2020-09-26 09:27] meta-crusher commented on #20
what help needed?

[2020-09-26 09:53] Jayshah6699 commented on #26
Also, add an expert label.

[2020-09-26 09:56] aayushi-droid commented on #26
we have Easy, medium and Hard label in Python-Thunder. hard added

[2020-09-26 13:15] rexdivakar commented on #1
Please assign me the task

[2020-09-26 15:39] gokulrajanpillai commented on #13
@aayushi-droid  can you add me as contributor to make the PR?

[2020-09-26 15:42] aayushi-droid commented on #1
@rexdivakar  Yes sure , This issue is open for all.

Task - Create issue from Edabit problem, make sure to avoid duplicate question. use template for making issue.
Best of Luck

[2020-09-26 15:44] aayushi-droid commented on #13
@gokulrajanpillai  yes sure, I am inviting you in org, check your email.

Task - Create issue from Edabit problem, make sure to avoid duplicate question. use template for making issue.Assign people according to issues.
Best of Luck

[2020-09-26 15:44] rexdivakar commented on #1
Is it fine can I raise the PR after Oct 1st so my PR gets considered for the Hacktoberfest

[2020-09-26 15:45] aayushi-droid commented on #1
Make your PR after 1 October for HacktoberFest

[2020-09-26 15:58] Jayshah6699 commented on #26
@aayushi-droid I have learned all the things about the issue and pull request. Kindly assign me any 4 problems as 4 tasks I will create all pull request on 1st October together. It's up to you I am able to do the expert problem in 20 to 30 min so feel free to assign up to 20 problems to me.

[2020-09-26 15:59] Jayshah6699 commented on #26
I will code for all of those 20 problems till 1st October and commit them after creating a pull request on 1st October.

[2020-09-26 16:01] Jayshah6699 commented on #26
@aayushi-droid I am talking about expert problems only. Thank you.

[2020-09-27 06:44] UjwalKandi opened #29 "The Fibonacci Number - update Fibbonacci_number.py"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement:** Create a function that, given a number, returns the corresponding Fibonacci number.
**Problem Link:**  https://edabit.com/challenge/8Ko5tPg8Ch5SRCAhA

---
Before submitting a PR please Check some details.Check Edabit for problem task

- [x] fileName formet should be in camelcas

[2020-09-27 06:46] UjwalKandi commented on #29
Can you add me as _Contributor_ so that I can update the current existing **_Fibbonacci_number.py_** which is empty?

[2020-09-27 06:59] thakran14 commented on #29
kindly assign this issue to me thank you

[2020-09-27 07:01] aayushi-droid commented on #29
- [x] Issue assigned to @UjwalKandi

[2020-09-27 15:47] HimadriPathak commented on #6
can i do this

[2020-09-27 15:48] HimadriPathak commented on #29
can i do this?

[2020-09-28 07:03] Jayshah6699 opened #30 "Connecting Words"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement:** Write a function that connects each previous word to the next word by the shared letters. Return the resulting string (removing duplicate characters in the overlap) and the minimum number of shared letters across all pairs of strings.
**Problem Link:** https://edabit.com/challe

[2020-09-28 07:03] Jayshah6699 commented on #30
@aayushi-droid add the hard label and assign me the task

[2020-09-28 07:04] aayushi-droid commented on #30
- [x] @Jayshah6699 Best of Luck

[2020-09-28 07:07] Jayshah6699 opened #31 "Eight Sums Up"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement:** Create a function that gets every pair of numbers from an array that sums up to eight and returns it as an array of pairs (pair sorted ascendingly) collated into an object. See the following examples for more details.
**Problem Link:** https://edabit.com/challenge/ZkWSacTDQ65A3

[2020-09-28 07:09] Jayshah6699 opened #32 "Fit the Pattern"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement:**Create a function that checks if the sub-arrays in an array adhere to the specified pattern.
**Problem Link:** https://edabit.com/challenge/oXWwHkutPD5Aer6Db

---
Before submitting a PR please Check some details.Check Edabit for problem task

- [x] fileName formet should be in c

[2020-09-28 07:10] Jayshah6699 opened #33 "Water Jug Problem"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement:**Given a set of 3 jugs of water that have capacities of a, b, and c liters, find the minimum number of operations performed before each jug has x, y, and z liters. Only jug C will start completely filled.

An operation is any of the following: A jug is emptied, a jug is filled, o

[2020-09-28 07:13] ghost commented on #33
Hey @Jayshah6699  I have worked on this statement in 3rd Semester in C++ I just how transform language and I think I will for Hacktober  Fest! Please assign me!

[2020-09-28 07:15] aayushi-droid commented on #33
- [x] Assigning @smeet-kothari .

[2020-09-28 07:16] Jayshah6699 commented on #33
@aayushi-droid add also hard label

[2020-09-28 07:16] aayushi-droid commented on #32
Thanks for creating new issue @Jayshah6699

[2020-09-28 07:17] Jayshah6699 commented on #32
Welcome @aayushi-droid add hard label and assign it to me

[2020-09-28 07:17] Jayshah6699 commented on #33
Happy coding @smeet-kothari

[2020-09-28 07:23] aayushi-droid commented on #31
- [x] issue assigned to @Jayshah6699

[2020-09-28 07:26] Jayshah6699 opened #34 "Longest Alternative Substring"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement:** Given a string of digits, return the longest substring with alternating odd/even or even/odd digits. If two or more substrings have the same length, return the substring that occurs first.
**Problem Link:** https://edabit.com/challenge/RB6iWFrCd6rXWH3vi

---
Before submitting a

[2020-09-28 07:29] Jayshah6699 commented on #31
aayushi-droid assigned Jayshah6699
 issue assigned to @Jayshah6699
@aayushi-droid what is the difference between these two?

[2020-09-28 07:32] aayushi-droid commented on #31
@Jayshah6699 You have already assigned lot of issue already

[2020-09-28 07:33] Halix267 commented on #34
I want To work on this issue .Can u assign it to me.

[2020-09-28 07:33] amitsaini4556 commented on #34
I would like to work on this issue. Please assign it to me.
Thank You.

[2020-09-28 07:34] Jayshah6699 commented on #31
there are only three and hacktoberfest needs 4 right?
And I am creating those issues which I have solved.

[2020-09-28 17:09] Jayshah6699 commented on #34
@aayushi-droid kindly assign the task to someone and add hard label

[2020-09-29 07:19] aayushi-droid commented on #34
- [x] @amitsaini4556 assigned

[2020-09-29 07:28] amitsaini4556 commented on #34
Thanks @aayushi-droid

[2020-09-29 14:40] AmeyaJain-25 commented on #6
Hello @aayushi-droid ,
Can I work on this.
Please assign me the task

[2020-09-30 11:31] vivekkj123 opened #35 "Simple OOP Calculator"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement:**

Create methods for the Calculator class that can do the following:

    Add two numbers.
    Subtract two numbers.
    Multiply two numbers.
    Divide two numbers.

Examples

calculator = Calculator()

calculator.add(10, 5) ➞ 15

calculator.subtract(10, 5) ➞ 5

calculator.mul

[2020-09-30 11:33] vivekkj123 commented on #35
@aayushi-droid  Please assign this issue to me.... :),
Thanks

[2020-09-30 11:37] kamil200 commented on #35
Hi,
I would love to work on this issue as my first contribution.
I am new to github but not python.

Can i work on it?

[2020-09-30 11:56] satwik-chowdary commented on #35
Assign me to this

[2020-09-30 11:58] aayushi-droid commented on #35
#15 duplicate issue, closing now

[2020-09-30 11:58] #35 closed

[2020-09-30 12:33] vivekkj123 opened #36 "Volume of a Spherical Shell"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement:**
The volume of a spherical shell is the difference between the enclosed volume of the outer sphere and the enclosed volume of the inner sphere:

Volume of Inner Sphere Formula

Create a function that takes r1 and r2 as arguments and returns the volume of a spherical shell rounde

[2020-09-30 12:33] vivekkj123 commented on #36
@aayushi-droid  Assign this issue to me...

[2020-09-30 19:08] AdeshChoudhar commented on #36
I would like to work on this.

[2020-09-30 19:09] AdeshChoudhar commented on #12
I would like to work on this.

[2020-09-30 19:10] AdeshChoudhar commented on #29
I would like to work on this.

[2020-09-30 19:10] AdeshChoudhar commented on #13
I would like to work on this.

[2020-09-30 19:10] AdeshChoudhar commented on #4
I would like to work on this.

[2020-09-30 19:11] AdeshChoudhar commented on #2
I would like to work on this.

[2020-09-30 19:11] AdeshChoudhar commented on #6
I would like to work on this.

[2020-09-30 19:11] AdeshChoudhar commented on #7
I would like to work on this.

[2020-09-30 21:05] AmeyaJain-25 commented on #32
Hi @Jayshah6699 ,
I would like to work on this.
Please assign me this issue

[2020-10-01 04:07] kushalbargoti opened #40 "Complex Numbers"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement:** Write a function that takes a string "a + bi" and returns a tuple (a, b).
**Problem Link:** https://edabit.com/challenge/oFNJeSzzcTgMwLFy5

---
Before submitting a PR please Check some details.Check Edabit for problem task

- [x] fileName formet should be in camelcase
    examp

[2020-10-01 04:08] kushalbargoti commented on #40
@aayushi-droid  Please Assign this issue to me... I will do my best .. :)
Add Hard label also.

[2020-10-01 04:17] #10 closed

[2020-10-01 04:17] #4 closed

[2020-10-01 04:17] #34 closed

[2020-10-01 04:26] kushalbargoti opened #42 "Find the Primorial"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement:** A Primorial is a product of the first n prime numbers (e.g. 2 x 3 x 5 = 30). 2, 3, 5, 7, 11, 13 are prime numbers. If n was 3, you'd multiply 2 x 3 x 5 = 30 or Primorial = 30.
Create a function that returns the Primorial of a number.
**Problem Link:** https://edabit.com/challen

[2020-10-01 04:26] kushalbargoti commented on #42
@aayushi-droid  Please Assign this issue to me... I will do my best .. :)
Add Hard label also.

[2020-10-01 04:27] AVS18 commented on #40
I can help you to get it done

[2020-10-01 04:32] kushalbargoti commented on #40
Hey @AVS18 you can choose another problem from edabit then create an issue and get it assigned and work on it.

[2020-10-01 04:43] AVS18 commented on #40
Like I am about to submit the problem. Ok I will submit more

[2020-10-01 05:03] AVS18 commented on #29
Can I do this
It is done

[2020-10-01 05:29] jinicode commented on #42
I would love to work on this.

[2020-10-01 06:08] Shivamishra21 commented on #42
I would like to work on this.

[2020-10-01 06:40] Abhishek4uh commented on #42
hey! pls, assign to me. I would love to work on this.

[2020-10-01 07:01] meta-crusher commented on #40
can u assign this question to me

[2020-10-01 07:15] Avhijit-Nair commented on #36
Please assign this issue to me.

[2020-10-01 07:36] sudhir512kj commented on #16
Hello @aayushi-droid I would like to work on this.

[2020-10-01 07:37] sudhir512kj commented on #15
Hello @aayushi-droid I would like to work on this.

[2020-10-01 07:46] malhotra-paritosh opened #51 "A Circle and Two Squares"
Before jumping into PR, first comment for assignment of the Problem.
All Problems are from Edabit. Link is mandatory to add

**Problem statement: Imagine a circle and two squares: a smaller and a bigger one. For the smaller one, the circle is a circumcircle and for the bigger one, an incircle. Create a function, that takes an integer (radius of the circle) and returns the difference of the areas o

[2020-10-01 07:47] malhotra-paritosh commented on #51
@aayushi-droid Kindly assign this issue to me, I'd love to work on it! 😄

[2020-10-01 08:04] AdityaPunetha commented on #51
please assign me this issue

[2020-10-01 08:18] raph941 commented on #36
i would love to work on this project

[2020-10-01 08:27] Jaideep07 commented on #51
I would like to work on this

[2020-10-01 08:53] AVS18 opened #54 "Return Areas"
**Problem statement:** We need to find the area difference between the squares where for one square circle is a circumcircle and the other one is incircle
**Problem Link:** https://edabit.com/challenge/NNhkGocuPMcryW7GP

---
Before submitting a PR please Check some details.Check Edabit for problem task

- [x] fileName formet should be in camelcase
    example- returnTheNextNumber.py
- [x]  Add lab

[2020-10-01 08:54] AVS18 commented on #54
Hi, I found the solution, can you assign that problem to me.

[2020-10-01 09:01] AdityaPunetha commented on #54
can you assign me this problem

[2020-10-01 09:07] Deephacks619 commented on #42
I wanna work on this code generation. Please assign to me

[2020-10-01 09:15] anubhav-08 commented on #51
I would like to solve this problem. Please assign it to me

[2020-10-01 09:17] gittygupta commented on #16
Please assign this issue to me

[2020-10-01 09:23] Gautam-virmani commented on #42
I would love to work on this and I am good at problem-solving. I have a gold badge on hackerrank in problem-solving. You can check that out here:https://www.hackerrank.com/Gvirmani1505.

[2020-10-01 09:44] gittygupta commented on #8
please assign this to me. my code is written already

[2020-10-01 09:47] gittygupta commented on #9
please assign this to me

[2020-10-01 09:47] kokoedwin opened #56 "Convert Minutes into Seconds"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement:** Write a function that takes an integer minutes and converts it to seconds.
**Problem Link:** https://edabit.com/challenge/FQyaaJx7orS7tiwz8

---
Before submitting a PR please Check some details.Check Edabit for problem task

- [ ] fileName formet should be in camelcase
    exam

[2020-10-01 09:49] LagrangianLad commented on #56
I will do it

[2020-10-01 09:50] kokoedwin commented on #56
Bro, you need to open https://edabit.com/challenges , find problem that you want to solve, and submit an issues

[2020-10-01 09:51] subhanshu2 commented on #56
I will do it

[2020-10-01 09:57] ShravyaMallya commented on #56
I will do it. Please assign it to me.

[2020-10-01 09:59] subhanshu2 opened #58 "Return the Sum of Two Numbers"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

Problem statement: Create a function that takes two numbers as arguments and return their sum.
Problem Link: https://edabit.com/challenge/3LpBLgNRyaHMvNb4j

---
Before submitting a PR please Check some details.Check Edabit for problem task

- [ ] fileName formet should be in camelcase
    example- re

[2020-10-01 10:00] anomius commented on #51
Hey can I solve this problem, this would be a oneliner

[2020-10-01 10:01] anomius commented on #56
Hey can I solve this problem, this would be a oneliner

[2020-10-01 10:02] anomius commented on #58
Hey can I solve this problem, this would be a oneliner

[2020-10-01 10:06] aawizard commented on #58
Can I solve it?

[2020-10-01 10:07] Mrinalini99 commented on #58
Hey ! Can I solve it?

[2020-10-01 10:07] aawizard commented on #56
Can I solve it?

[2020-10-01 10:08] #58 closed

[2020-10-01 10:09] aawizard commented on #54
Can you assign this problem to me?

[2020-10-01 10:10] Codedude1 commented on #58
I wanna work on this!

[2020-10-01 10:11] aawizard commented on #36
I would like to solve this problem

[2020-10-01 10:11] aawizard commented on #42
Can I work on this problem?

[2020-10-01 10:12] kokoedwin commented on #56
Please assign this to me, I am the one who create this issues

[2020-10-01 10:14] aawizard commented on #40
Please assign me this issue

[2020-10-01 10:22] Gautam-virmani commented on #36
I would love to work on this and I am good at problem-solving. I also have a gold badge on hackerrank in problem-solving. You can check that out here:https://www.hackerrank.com/Gvirmani1505.

[2020-10-01 10:23] Gautam-virmani commented on #54
I would love to work on this and I am good at problem-solving. Ialso have a gold badge on hackerrank in problem-solving. You can check that out here:https://www.hackerrank.com/Gvirmani1505.

[2020-10-01 10:27] nimendrak commented on #56
I'd like to solve this..

[2020-10-01 10:35] khush31 commented on #51
Can work on this issue?

[2020-10-01 10:49] Jayshah6699 commented on #31
@aayushi-droid all tasks assigned to me has been accomplished

[2020-10-01 10:52] azizamurod commented on #56
Hello, I will be very happy to solve this, actually I have solved. Please assign me

[2020-10-01 11:42] Neel2904 commented on #54
I would like to work on this problem. please assign it to me.

[2020-10-01 11:43] Neel2904 commented on #40
I would work on this. Assign me

[2020-10-01 11:48] Neel2904 commented on #54
Okay @AVS18. you got wrong here. This problem issue is already created in issue #51.

[2020-10-01 11:49] Neel2904 commented on #51
Can I work on this?

[2020-10-01 12:01] AVS18 commented on #54
Oops! I thought it was not there. I pulled the code also for the issue but it was not committed to master branch

[2020-10-01 12:05] Neel2904 opened #66 "Find the area"
Before jumping into PR first comment for assign. All Problem from Edabit. Link is mandatory to add

**Problem statement:** Write a function that takes the base and height of a triangle and return its area.
**Problem Link:** https://edabit.com/challenge/3CaszbdZYGN4otQD8

---
Before submitting a PR please Check some details. Check Edabit for problem task

- [x] fileName format should be in camel-ca

[2020-10-01 12:06] Neel2904 commented on #66
I would like to work on this.
**Assign me**

[2020-10-01 12:06] codetravellearn commented on #66
I WOULD LIKE TO CONTRIBUTE'

[2020-10-01 12:17] ghost commented on #36
Sir submitted a pull request a spherical 100% working it doesn't return a negative value please kindly consider it

[2020-10-01 12:25] Neel2904 opened #69 "Maximum Edge of a Triangle"
Before jumping into PR first comment for assign. All Problem from Edabit. Link is mandatory to add

**Problem statement:**  Create a function that finds the maximum range of a triangle's third edge, where the side lengths are all integers.
**Problem Link:** https://edabit.com/challenge/Zerwo2AENbvRZTe83

---
Before submitting a PR please Check some details. Check Edabit for problem task

- [x] Fil

[2020-10-01 12:26] Neel2904 commented on #69
I want to work on this.
**Assign me**

[2020-10-01 12:28] Neel2904 commented on #54
@AVS18  That's completely okay. Go for more problems

[2020-10-01 12:29] Ayomal98 commented on #6
Can I work on this

[2020-10-01 12:30] Ayomal98 commented on #69
Can you assign me on this

[2020-10-01 12:37] Neel2904 opened #70 "The Farm Problem"
Before jumping into PR first comment for assign. All Problem from Edabit. Link is mandatory to add

**Problem statement:** A farmer is asking you to tell him how many legs can be counted among all his animals. The farmer breeds three species.
**Problem Link:** https://edabit.com/challenge/QzXtDnSZL6y4ZcEvT

---
Before submitting a PR please Check some details. Check Edabit for problem task

- [x]

[2020-10-01 12:38] Neel2904 commented on #70
I can work on this.
**Assign me**

[2020-10-01 12:44] Neel2904 opened #71 "Recursion: Sum"
Before jumping into PR first comment for assign. All Problem from Edabit. Link is mandatory to add

**Problem statement:** Write a function that finds the sum of the first n natural numbers. Make your function recursive.

**Problem Link:** https://edabit.com/challenge/si2H6WC5YX99cn6LQ

---
Before submitting a PR please Check some details. Check Edabit for problem task

- [x] File-Name format shou

[2020-10-01 12:44] Neel2904 commented on #71
I can solve this.
**Assign me**

[2020-10-01 12:46] tanishqj2005 commented on #71
can i take it up?

[2020-10-01 12:48] deecoders commented on #71
Can I take this up @Neel2904 ?

[2020-10-01 12:50] deecoders commented on #66
I would like to work on this.
Assign me

[2020-10-01 12:50] RitikaAg commented on #71
@Neel2904 can I work on this please,thanks!

[2020-10-01 12:55] Priyansh2001here commented on #71
Can i work on this

[2020-10-01 12:57] kchatr commented on #71
Hey could I work on this? I love recursion :) @Neel2904

[2020-10-01 13:17] amitagarwalaa57 opened #77 "if-elif-else Inferno"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement:** Write a function that returns the boolean True if the given number is zero, the string "positive" if the number is greater than zero or the string "negative" if it's smaller than zero.

**Problem Link:** https://edabit.com/challenge/2TdPmSpLpa8NWh6m9

---
Before submitting a PR

[2020-10-01 13:19] amitagarwalaa57 commented on #66
assign me

[2020-10-01 13:20] somkuwaryash commented on #71
@Neel2904 I would like to work on this. I have already solve this and have prepared a code already.
Would be happy to work on it

[2020-10-01 13:20] KickItLikeShika commented on #77
Please review the pull request i have just made to continue my work. I really like solving this type of problems.
https://github.com/Py-Droid/Python-Thunder/pull/68

[2020-10-01 13:21] amitagarwalaa57 commented on #56
please assign me

[2020-10-01 13:21] amitagarwalaa57 commented on #40
please assign me

[2020-10-01 13:23] amitagarwalaa57 commented on #54
assign to me

[2020-10-01 13:24] shubhamgoel9 opened #78 "calculate the power"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement:**
**Problem Link: **

---
Before submitting a PR please Check some details.Check Edabit for problem task

- [ ] fileName formet should be in camelcase
    example- returnTheNextNumber.py
- [ ]  Add label for Problem
- [ ]  In file there should be problem statement and link to pro

[2020-10-01 13:28] Harsh-Udai commented on #78
hey @shubhamgoel9 , i would like to work on this, can you assign this to me.

[2020-10-01 13:28] Deephacks619 commented on #6
I wanna work on this problem. Please assign me the task.

[2020-10-01 13:30] rajat1401 commented on #78
Hi @shubhamgoel9 I would like to work on this. please assign it to me.

[2020-10-01 13:30] VIPverma01 commented on #78
hi @shubhamgoel9  can you assign this yo me please.

[2020-10-01 13:31] somkuwaryash commented on #78
Hi @shubhamgoel9 , I would like to work on this.Please assign this to me

[2020-10-01 13:31] RitikaAg opened #82 "Recursive repetition of string"
Before jumping into PR first comment for assign. All Problem from Edabit. Link is mandatory to add

Problem statement: Write a function that creates a recursive function that takes two parameters and repeats the string n number of times. The first parameter txt is the string to be repeated and the second parameter is the number of times the string is to be repeated.

Problem Link: https://edabit.c

[2020-10-01 13:32] RitikaAg commented on #82
Please assign this task to me

[2020-10-01 13:34] rajat1401 commented on #6
Hi @aayushi-droid please assign this to me.
I have made the [PR](https://github.com/Py-Droid/Python-Thunder/pull/89) for this. Please review it.

[2020-10-01 13:37] somkuwaryash commented on #82
Please assign this task to me. I would like to work on it.

[2020-10-01 13:41] shubhamgoel9 commented on #78
assign me

[2020-10-01 13:44] Neel2904 commented on #71
Do not PR before admin assign you for an issue. It's opposing the guidelines for this project. I have created this issue because I want to work on it. You all can also work on problem after creating an issue and ask for assign to project admin.
Thank you

[2020-10-01 13:48] GSNCodes opened #86 "Return the Next Number from the Integer Passed"
**Problem statement:**
Create a function that takes a number as an argument, increments the number by +1 and returns the result.

**Problem Link:**
https://edabit.com/challenge/KjCS7occ9hfu5snpb
---
Before submitting a PR please Check some details.Check Edabit for problem task

- [x] fileName formet should be in camelcase
    example- returnTheNextNumber.py
- [x]  Add label for Problem
- [x]  In f

[2020-10-01 13:48] shubhamgoel9 opened #88 "Less Than 100?"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement:**
**Problem Link:**

---
Before submitting a PR please Check some details.Check Edabit for problem task

- [ ] fileName formet should be in camelcase
    example- returnTheNextNumber.py
- [ ]  Add label for Problem
- [ ]  In file there should be problem statement and link to prob

[2020-10-01 13:49] shubhamgoel9 commented on #88
assign me

[2020-10-01 13:49] GSNCodes commented on #86
@aayushi-droid  Could you assign me this, I would like to work on it?

[2020-10-01 13:49] kchatr commented on #86
Can I be assigned this @GSNCodes ?

[2020-10-01 13:50] Deephacks619 commented on #66
I wanna work on this. Please assign to me.

[2020-10-01 13:50] GSNCodes commented on #86
@kchatr I'm working on this. Sorry, I forgot to mention that

[2020-10-01 13:56] duarte2025 opened #90 "Atbash Cipher"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement:** The Atbash cipher is an encryption method in which each letter of a word is replaced with its "mirror" letter in the alphabet: A <=> Z; B <=> Y; C <=> X; etc.

Create a function that takes a string and applies the Atbash cipher to it.

**Problem Link:**  https://edabit.com/chal

[2020-10-01 13:56] duarte2025 commented on #90
Can i work on this issue?

[2020-10-01 13:57] rajat1401 commented on #82
Hi @RitikaAg Please assign this issue to me.

[2020-10-01 14:10] Srinjoycode commented on #77
Could I please be assigned this task

[2020-10-01 14:11] pbisen commented on #88
Could you please assign me. i would love to work on this.

[2020-10-01 14:14] Deephacks619 commented on #6
Hloo @aayushi-droid . I have made PR for this Issue. Please Review it.

[2020-10-01 14:19] infern018 opened #93 "Date Format"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement:** Create a function that converts a date formatted as MM/DD/YYYY to YYYYDDMM.

Examples:
[code]

**Problem Link:** https://edabit.com/challenge/co4nwXSvnCjGEu8vp

---
Before submitting a PR please Check some details.Check Edabit for problem task

- [x] fileName formet should be i

[2020-10-01 14:20] infern018 commented on #93
@aayushi-droid please assign this issue to me...

[2020-10-01 14:20] pbisen opened #94 "Convert Minutes to Seconds"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement:**: Write a function that takes an integer minutes and converts it to seconds.
**Problem Link:** https://edabit.com/challenge/FQyaaJx7orS7tiwz8

---
Before submitting a PR please Check some details.Check Edabit for problem task

- [ ] fileName formet should be in camelcase
    exa

[2020-10-01 14:20] pbisen commented on #94
I would like to work on this issue. Please assign this to me.

[2020-10-01 14:21] ryzbaka commented on #90
I am interested in implementing this function.

[2020-10-01 14:22] asaravindkumar commented on #94
I can work on this, if open

[2020-10-01 14:37] sarthak55k commented on #93
can you assign this to me?

[2020-10-01 15:07] sanuj96 commented on #94
Please assign this to me.

[2020-10-01 15:11] sanuj96 commented on #90
Interested

[2020-10-01 15:14] Ansh04122001 commented on #42
Can I work on this problem?

[2020-10-01 15:22] sourhub226 commented on #88
I would like to work on this.

[2020-10-01 15:31] Ansh04122001 commented on #93
can you assign this to me?

[2020-10-01 15:38] Sankalpagrawal opened #96 "Profitable Gamble"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement:** Create a function that takes three arguments prob, prize, pay and returns true if prob * prize > pay; otherwise return false.
**Problem Link:**  https://edabit.com/challenge/ghbHrRnRiDz9fvQNF

---
Before submitting a PR please Check some details.Check Edabit for problem task

-

[2020-10-01 15:38] Sankalpagrawal commented on #96
I want to take up this issue

[2020-10-01 15:39] RamyaThirumalaisamy commented on #94
@aayushi-droid Please assign this task to me.
Thanks!

[2020-10-01 15:43] RamyaThirumalaisamy commented on #93
@aayushi-droid Please assign this task to me.Thanks!

[2020-10-01 15:45] RamyaThirumalaisamy commented on #88
@aayushi-droid  Please assign this task to me.Thanks!

[2020-10-01 15:49] shubhamgoel9 commented on #78
solved the issue in PR #81 .Please review it.

[2020-10-01 15:49] RamyaThirumalaisamy commented on #86
@aayushi-droid  Please assign this task to me.Thanks!

[2020-10-01 15:55] Tushar-dev-des commented on #42
I will solve this. Over and Out!

[2020-10-01 15:57] somkuwaryash commented on #94
@pbisen assign this task to me

[2020-10-01 15:57] RamyaThirumalaisamy commented on #96
@Sankalpagrawal  @aayushi-droid Please assign this task to me.Thanks!

[2020-10-01 16:01] somkuwaryash opened #97 "Difference of Max and Min Numbers in List"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement:**Create a function that takes a list and returns the difference between the biggest and smallest numbers.
**Problem Link:** https://edabit.com/challenge/XsJLwhAddzbxdQqr4

---
Before submitting a PR please Check some details.Check Edabit for problem task

- [ ] fileName formet sh

[2020-10-01 16:02] somkuwaryash commented on #97
Please assign this task to me. I would like to work on this.

[2020-10-01 16:02] esla-ahme commented on #97
I can do it

[2020-10-01 16:03] Rahul30032 commented on #96
@Sankalpagrawal I would like to take up this task, If not assigned to anyone, can u assign it to me?

[2020-10-01 16:04] Roshanpaswan commented on #97
I will definitely work for this. Please assign me

[2020-10-01 16:07] Roshanpaswan commented on #94
Please assign. I can solve this problem

[2020-10-01 16:15] Aravindha1234u commented on #97
@somkuwaryash Can you Assign this to me Bro I would love to make this.

[2020-10-01 16:18] RamyaThirumalaisamy commented on #78
@aayushi-droid Please assign this task to me,Thanks!

[2020-10-01 16:21] offi-ani commented on #97
Can i take up on this? can you please assign me this

[2020-10-01 16:22] offi-ani commented on #94
Can i take up on this? can you please assign me this

[2020-10-01 16:23] offi-ani commented on #88
Can i take up on this? can you please assign me this.i would love to work on this

[2020-10-01 16:24] Aditi0707 commented on #97
can you assign this issue to me

[2020-10-01 16:27] Amrita211 commented on #71
@Neel2904 I would like to work on this issue, please assign me into it.
Thanks !

[2020-10-01 16:31] Priyansh2001here commented on #71
@Neel2904 i have completed my code with docs and typing please let me work on it

[2020-10-01 16:39] Amrita211 commented on #97
can you please give me chance to work on this issue .
Thanks !

[2020-10-01 16:41] AayushCodes commented on #42
Please assign. I want to solve this :)

[2020-10-01 16:45] AayushCodes commented on #97
Please Assign me this. i would love to work on it :)

[2020-10-01 16:45] AayushCodes commented on #94
Please Assign me this. I would love to work on it :)

[2020-10-01 16:47] AayushCodes commented on #88
Please Assign me this. I would love to work on it :)

[2020-10-01 16:56] RitikaAg commented on #82
I've created this issue so I can work on it once it's assigned to me, in keeping with the guidelines

[2020-10-01 17:31] Cybersoft82 commented on #42
This is very easy question can i try ?Please assign me

[2020-10-01 17:43] alokgoldy commented on #40
assign me

[2020-10-01 17:44] guptadhaval18 opened #99 "Tower of Hanoi"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement: There are three towers. The objective of the game is to move all the disks over to tower #3, but you can't place a larger disk onto a smaller disk. To play the game or learn more about the Tower of Hanoi, check the Resources tab.
Create a function that takes a number discs as an

[2020-10-01 17:45] chicken-biryani opened #100 "Is the String empty?"
I would like to work on this

[2020-10-01 17:47] saigunavanth commented on #99
I would like to work on this issue using python. @guptadhaval18  assign me

[2020-10-01 17:56] Bijay555 commented on #99
I have wrote code previously in tower of Hanoi. Please assign to me?

[2020-10-01 18:00] snehagupta-4 commented on #99
@guptadhaval18 I'd love to work on this issue. Please assign it to me. :')

[2020-10-01 18:16] rasmita404 commented on #99
@guptadhaval18  I would like to work on this using Python. Please assign me.

[2020-10-01 18:29] KerinPithawala commented on #97
Can you assign me this?

[2020-10-01 18:39] ghost commented on #70
Hello, I'd like to have this assigned.
Thanks in advance!

[2020-10-01 18:41] Pandanoxes commented on #42
Hi, can I be assigned? I want to contribute, it would be my first time contributing to a project.

[2020-10-01 18:53] cryp73r commented on #6
Please review #67 as an efficient program for Factorial of a Number.

[2020-10-01 19:03] Ayush7-BIT commented on #9
Hey i like to work on this issue, if possible assign me this..

[2020-10-01 19:05] Ayush7-BIT commented on #2
Hey! can i work on this issue...

[2020-10-01 19:31] emilkovacev commented on #42
Can I work on this problem? Thank you!

[2020-10-01 19:44] #33 closed

[2020-10-01 19:45] aayushi-droid commented on #69
assinged @palakgautam136

[2020-10-01 19:45] #69 closed

[2020-10-01 19:46] #100 closed

[2020-10-01 19:47] #8 closed

[2020-10-01 19:50] sreekesari-vangeepuram commented on #42
Assign me the task!
I have completed this challenge.
Waiting for assignment!

[2020-10-01 19:55] #42 closed

[2020-10-01 19:56] #6 closed

[2020-10-01 19:56] sreekesari-vangeepuram commented on #1
How can I make a PR for `primorial` problem?

[2020-10-01 19:59] #54 closed

[2020-10-01 20:01] aayushi-droid commented on #94
Question is already assigned and solved

[2020-10-01 20:01] #94 closed

[2020-10-01 20:02] #78 closed

[2020-10-01 20:03] Gautam-virmani commented on #42
Thank you so much for the opportunity . I did it and now you can merge it ,if you want anything please inform me

[2020-10-01 20:04] aayushi-droid commented on #51
question already solved

[2020-10-01 20:04] #51 closed

[2020-10-01 20:23] sreekesari-vangeepuram commented on #42
Can you please guide me how to submit a pull request.

Like the steps to make it.
Should I clone your repo and merge it with my code attached?

On Fri, 2 Oct 2020, 01:33 Gautam-virmani, <notifications@github.com> wrote:

[2020-10-01 21:05] aayushi-droid opened #110 "Reviewing PR may take some time"
Reviewing PR may take some time. I am merging PR as possible.
Pr will merge under 1-4 days.

Please, have patience and Keep Coding. Please don't make PR without issue assignments.

[2020-10-01 21:18] rishabh-28 commented on #86
Please assign this to me

[2020-10-01 21:33] Gerald-Izuchukwu commented on #93
Can I be assigned to this?

[2020-10-01 21:34] iriyagupta commented on #93
Hi I have created a pull request for this

[2020-10-01 21:35] Gerald-Izuchukwu commented on #86
Please assign this to me

[2020-10-01 21:37] Gerald-Izuchukwu commented on #77
Can I be assigned to this task?

[2020-10-01 21:46] Gerald-Izuchukwu commented on #88
Can I please be assigned to this?

[2020-10-01 21:46] Gerald-Izuchukwu commented on #97
Can i be assigned to this?

[2020-10-01 21:49] Gerald-Izuchukwu opened #113 "Power Calculator"
Create a function that takes voltage and current and returns the calculated power.
link: https://edabit.com/challenge/v5gc8FQkDEepkqpfp

[2020-10-01 21:50] Gerald-Izuchukwu commented on #113
Can I please be assigned to this

[2020-10-02 02:12] gittygupta commented on #113
Please assign this issue to me

[2020-10-02 02:56] xPolar opened #115 "FizzBuzz Interview Question"
Before jumping into PR first comment for assign. All Problem from Edabit. Link is mandatory to add

**Problem statement:** Create a function that takes a number as an argument and returns `"Fizz"`, `"Buzz"` or `"FizzBuzz"`.
**Problem Link:**  https://edabit.com/challenge/WXqH9qvvGkmx4dMvp

---
Before submitting a PR please Check some details. Check Edabit for problem task

- [x] fileName formet sh

[2020-10-02 02:57] xPolar commented on #115
Please assign this to me!

[2020-10-02 03:26] tusshar17 commented on #40
Please assign me for this.

[2020-10-02 03:27] #70 closed

[2020-10-02 03:30] Neel2904 commented on #66
@aayushi-droid can you just assign so that I can work on this.

[2020-10-02 03:36] am401 commented on #115
Hello there - is it possible to have this assigned to me in order to submit the solution?

[2020-10-02 03:41] xPolar commented on #115
You're supposed to create your own issue for a challenge on Edabit, I created this one so It's assigned for me.

[2020-10-02 03:42] am401 commented on #115
Thank you for the clarification @xPolar 👍

[2020-10-02 03:43] xPolar commented on #115
No problem!

[2020-10-02 03:51] #1 closed

[2020-10-02 03:53] #20 closed

[2020-10-02 04:03] sarsiz opened #118 "Assign this Problem Statement: Convert Hours into Seconds"
**Problem statement:Convert Hours into Seconds**
**Problem Link:https://edabit.com/challenge/nyeNvKWdDFKRAk4Da**

This repository is vaild for HacktoberFest2020

Read before making PR - [How to contribute on Github](https://www.dataschool.io/how-to-contribute-on-github/)
Good Luck,

[2020-10-02 04:05] typg93 commented on #118
Can I take this one?

[2020-10-02 04:09] am401 opened #119 "Burrrrrrrp"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement:** Create a function that returns the string "Burp" with the amount of "r's" determined by the input parameters of the function.
**Problem Link:** https://edabit.com/challenge/irb783PpFTDqnumhN

---
Before submitting a PR please Check some details.Check Edabit for problem task

-

[2020-10-02 04:09] sarsiz commented on #118
I am not the person who's supposed to assign this project and I've selected this problem statement for me from edabit challenge.
If you want to contribute, I suggest you to read there PR guideline first and then proceed.

[2020-10-02 04:15] am401 commented on #119
Hello there! Please assign this issue to me for submission! Thank you!

[2020-10-02 04:23] aayushi-droid commented on #82
Unassigned Pull Request will be mark as invalid and they will not count for Hacktober.

[2020-10-02 04:28] aayushi-droid commented on #96
Duplicate issue and task is already completed.

[2020-10-02 04:28] #96 closed

[2020-10-02 04:30] aayushi-droid commented on #113
Invalid PR, Created with assigned, Marking Invalid. It will not count for Hacktober now. @gittygupta

[2020-10-02 04:30] varshatumburu opened #122 "Area of a Triangle"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement:** Write a function that takes the base and height of a triangle and returns its area.
**Problem Link:** https://edabit.com/challenge/3CaszbdZYGN4otQD8

---
Before submitting a PR please Check some details.Check Edabit for problem task

- [x] fileName formet should be in camelcase

[2020-10-02 04:38] nishamehra commented on #122
@varshatumburu please assign this problem to me. i would like to contribute for this problem.

[2020-10-02 04:44] #2 closed

[2020-10-02 04:45] #7 closed

[2020-10-02 04:46] RitikaAg commented on #82
@aayushi-droid I've created the PR for this issue

[2020-10-02 04:47] #9 closed

[2020-10-02 04:48] #12 closed

[2020-10-02 04:49] #13 closed

[2020-10-02 04:51] #14 closed

[2020-10-02 04:53] #29 closed

[2020-10-02 04:53] #26 closed

[2020-10-02 04:54] prathmeshChaudhari05 commented on #122
@varshatumburu Please assign this task to me.

[2020-10-02 04:54] #31 closed

[2020-10-02 04:54] nootz1999 commented on #97
Love to work on this.

[2020-10-02 04:54] aayushi-droid commented on #31
@Jayshah6699 That's good

[2020-10-02 04:55] #32 closed

[2020-10-02 04:57] tarundhiraj opened #129 "The Farm Problem"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement:**
Write a function that takes number of chickens, cows and pigs and returns total number of legs these animals have.
**Problem Link:**
https://edabit.com/challenge/QzXtDnSZL6y4ZcEvT

---
Before submitting a PR please Check some details.Check Edabit for problem task

- [ ] fileNam

[2020-10-02 04:57] tarundhiraj commented on #129
I would like to contribute. Please assign this issue to me.

[2020-10-02 04:58] JHNLWHD commented on #118
Can I take this issue @sarsiz ?

[2020-10-02 04:59] #82 closed

[2020-10-02 05:00] #66 closed

[2020-10-02 05:01] aswarth123 commented on #129
I would like to solve this issue can you assign it to me?

[2020-10-02 05:01] tarundhiraj opened #130 "Temperature Converter"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement:**
Create a function that converts Celcius to Fahrenheit and vice versa.
**Problem Link:**
https://edabit.com/challenge/9CNJtMXaw2K5NwMLJ

---
Before submitting a PR please Check some details.Check Edabit for problem task

- [ ] fileName formet should be in camelcase
    example-

[2020-10-02 05:01] #122 closed

[2020-10-02 05:01] tarundhiraj commented on #130
I would like to contribute to this issue. Please assign it to me. Thanks.

[2020-10-02 05:02] #119 closed

[2020-10-02 05:02] #71 closed

[2020-10-02 05:03] tarundhiraj opened #131 "Underscore-Hash Staircase"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement:**
Create a function that will build a staircase using the underscore _ and hash # symbols. A positive value denotes the staircase's upward direction and downwards for a negative value.

**Problem Link:**
https://edabit.com/challenge/inecXu7CtXyvNekxu

---
Before submitting a PR p

[2020-10-02 05:04] prathmesh-Chaudhari05 opened #132 "Convert Minutes into Seconds"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement: Convert Minutes into Seconds
**Problem Link: https://edabit.com/challenge/FQyaaJx7orS7tiwz8

---
Before submitting a PR please Check some details. Check Edabit for problem task

- [ ] fileName formet should be in camelcase
    example- returnTheNextNumber.py
- [ ]  Add label for

[2020-10-02 05:04] tarundhiraj commented on #131
I would like to contribute to this issue. Please assign it to me.

[2020-10-02 05:04] prathmeshChaudhari05 commented on #132
please assign this task to me.

[2020-10-02 05:09] tanishqj2005 commented on #132
please assign this task to me. Thanks!

[2020-10-02 05:11] subhamagrawal7 commented on #129
I would like to solve the issue. Could please assign it to me?? I am also ready to solve another issue if you have.

[2020-10-02 05:11] aayushi-droid commented on #129
Duplicate issue, Issue created earlier and solved too.

[2020-10-02 05:11] #129 closed

[2020-10-02 05:12] aayushi-droid commented on #132
duplicate issue, issue created earlier and solved too

[2020-10-02 05:12] #132 closed

[2020-10-02 05:22] subhamagrawal7 commented on #130
I would like to contribute to this issue. Please assign it to me.

[2020-10-02 05:31] paramphy commented on #130
I would like to contribute to this issue. Please assign it to me.

[2020-10-02 05:32] paramphy commented on #131
I would like to contribute to this issue. Please assign it to me.

[2020-10-02 05:36] sarsiz commented on #118
@JHNLWHD Please see the above comment.

[2020-10-02 05:39] JHNLWHD commented on #118
I see @sarsiz, thanks

[2020-10-02 05:39] subhamagrawal7 opened #136 "Absolute Sum"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement:**
Take a list of integers (positive or negative or both) and return the sum of the absolute value of each element.
**Problem Link: https://edabit.com/challenge/5eHy5yapqz8kP94ih**

---
Before submitting a PR please Check some details. Check Edabit for problem task

- [x] fileName

[2020-10-02 05:40] subhamagrawal7 commented on #136
I would like to contribute to this issue. Please assign it to me. Thanks.

[2020-10-02 05:50] ymchandaliya commented on #136
@subhamagrawal7 I would like to contribute to this issue. Please assign it to me. Thanks

[2020-10-02 05:53] RAM-BHARATH opened #138 "ASCII Charcode of Inverse Case Character"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement:**
Find ASCII Charcode of Inverse Case Character
Create a function that takes a single character as an argument and returns the char code of its lowercased / uppercased counterpart.
**Problem Link:**
https://edabit.com/challenge/QFXMcwaQZ8FTAuEtg
---
Before submitting a PR please

[2020-10-02 05:54] RAM-BHARATH commented on #138
I would like to contribute to this.

[2020-10-02 06:00] ymchandaliya commented on #138
I would like to contribute to this.

[2020-10-02 06:05] krishita30j commented on #56
Can you please assign this issue to me?

[2020-10-02 06:08] Amrita211 commented on #88
I would love to work on this. Please assign this task to me.

[2020-10-02 06:09] ruthwik3690 commented on #138
I can do this. Please let me in.

[2020-10-02 06:16] Hinal-Srivastava commented on #138
Hi, I'd like to do this.

[2020-10-02 06:17] Gerald-Izuchukwu commented on #113
please label my issue

[2020-10-02 06:23] ad-dan opened #141 "How Much is True?"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement:** Create a function which returns the number of True values in a list.
**Problem Link:** https://edabit.com/challenge/wFpi2zFGxWxfj5mZS

---
Before submitting a PR please Check some details.Check Edabit for problem task

- [x] fileName formet should be in camelcase
    example- r

[2020-10-02 06:23] ad-dan commented on #141
I would like to be assigned to this problem

[2020-10-02 06:32] suparna13 commented on #136
I would like to contribute on this in very creative optimized python solution. Can you please assign it to me so that I can jump to code? Thank You.

[2020-10-02 06:41] sudesh1611 opened #143 "Find the Odd Integer"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement:** Create a function that takes an array and finds the integer which appears an odd number of times.
**Problem Link:** https://edabit.com/challenge/9TcXrWEGH3DaCgPBs

---
Before submitting a PR please Check some details.Check Edabit for problem task

- [ ] fileName formet should b

[2020-10-02 06:42] sudesh1611 commented on #143
@aayushi-droid Please assign this to me

[2020-10-02 06:42] Manavi18 commented on #143
I can implement this in python.

[2020-10-02 06:45] sudesh1611 commented on #143
@Manavi18 You can create your own issue with problem from [https://edabit.com/challenges](https://edabit.com/challenges)

[2020-10-02 06:45] vittesha commented on #40
Please assign this problem to me

[2020-10-02 06:48] sudesh1611 opened #144 "Caesar's Cipher"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement:** Julius Caesar protected his confidential information by encrypting it using a cipher. Caesar's cipher (check Resources tab for more info) shifts each letter by a number of letters. If the shift takes you past the end of the alphabet, just rotate back to the front of the alphabe

[2020-10-02 06:48] sudesh1611 commented on #144
@aayushi-droid Please assign this to me

[2020-10-02 06:53] KishanKartha commented on #40
hey I can help, Please assign

[2020-10-02 06:56] rishabmallick opened #147 "Are the Sum of Digits in the Numbers Equal?"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement:**
Create a function that takes two parameters and, if both parameters are strings, add them as if they were integers or if the two parameters are integers, concatenate them.
**Problem Link:**
https://edabit.com/challenge/6dnhESWBcTMMF3gsa

---
Before submitting a PR please Check

[2020-10-02 06:57] rishabgit commented on #147
@aayushi-droid May I please work on this?

[2020-10-02 07:00] vivekkj123 commented on #36
@aayushi-droid Please review and the merge the Pull request #148 ,

Thanks,

VIVEK K J

[2020-10-02 07:00] KuruvillaJacob02 commented on #144
If this issue has not been assigned , it would be much appreciated if you would assign it to me

[2020-10-02 07:02] snehagupta-4 commented on #147
Hey @rishabmallick I'd like to work on this. Please assign it to me

[2020-10-02 07:04] sudesh1611 commented on #144
@KuruvillaJacob02 You can create your own issue with problem from [https://edabit.com/challenges](https://edabit.com/challenges)

[2020-10-02 07:07] shin-iji commented on #143
@sudesh1611 can i try this issue?

[2020-10-02 07:09] suparna13 opened #150 "Return the Sum of Two Numbers"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

Problem statement: Create a function that takes two numbers as arguments and return their sum.
Problem Link: https://edabit.com/challenge/rZToTkR5eB9Zn4zLh

---
Before submitting a PR please Check some details.Check Edabit for problem task

- [ ] fileName formet should be in camelcase
    example- re

[2020-10-02 07:10] akash7301 commented on #143
please assign.

[2020-10-02 07:12] suparna13 commented on #150
@aayushi-droid  I would like to contribute to this issue. Please assign it to me. Thanks.

[2020-10-02 07:12] Koshal67 commented on #143
Hello Developer
I am happy to resolve your issue .
It's pretty easy . Just assign it to me .
Thanks
github.com/Koshal67/

[2020-10-02 07:16] DhanushNehru commented on #150
I would like to contribute to this issue. Please assign it to me. Thanks.

[2020-10-02 07:18] suparna13 opened #151 "Return the Remainder from Two Numbers"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

Problem statement: There is a single operator in Python, capable of providing the remainder of a division operation. Two numbers are passed as parameters. The first parameter divided by the second parameter will have a remainder, possibly zero. Return that value.
Problem Link: https://edabit.com/chal

[2020-10-02 07:18] suparna13 commented on #151
@aayushi-droid I would like to contribute to this issue. Please assign it to me. Thanks.

[2020-10-02 07:21] manitmaini commented on #150
I would like to contribute to this issue. Please assign it to me. Thanks.

[2020-10-02 07:22] suparna13 opened #153 "Is the Number Less than or Equal to Zero"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

Problem statement: Create a function that takes a number as its only argument and returns true if it's less than or equal to zero, otherwise return false.
Problem Link: https://edabit.com/challenge/Rx2pkSA9dCmtwS8xt

---
Before submitting a PR please Check some details.Check Edabit for problem task

[2020-10-02 07:22] suparna13 commented on #153
@aayushi-droid I would like to contribute to this issue. Please assign it to me. Thanks.

[2020-10-02 07:32] himik-nainwal commented on #153
I have just completed python with basics > please assign this to me...

[2020-10-02 07:33] shin-iji commented on #151
@suparna13 can i try this?

[2020-10-02 07:35] himik-nainwal commented on #151
I would like to do this problem. Recently i have completed 5 star in hackerrank python practice . I can make it good. Thanks

[2020-10-02 07:35] rajinderpalsingh2001 commented on #151
Please assign the issue to me,I will surely meet your requirements.

[2020-10-02 07:36] himik-nainwal commented on #150
I would like to do this as i am a beginner to open source and i have completed 5 star in hackerrank > Thanks

[2020-10-02 07:37] himik-nainwal commented on #147
I did like to work on this please assign me. I recently completed python and completed 5 star in hackerrank. > Thanks

[2020-10-02 07:38] himik-nainwal commented on #143
I did like to work on this please assign me. I recently completed python and completed 5 star in hackerrank. > Thanks

[2020-10-02 07:39] KuruvillaJacob02 commented on #144
Hello there, I've completed the code for ceasars cipher and checked the code on edabit and It passed the 4 tests, what should I do from this point onwards?

[2020-10-02 07:43] RitikaAg opened #159 "Rearrange the Number"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement:Given a number, return the difference between the maximum and minimum numbers that can be formed when the digits are rearranged.**
**Problem Link:https://edabit.com/challenge/jwzAdBnJnBxCe4AXP**

---
Before submitting a PR please Check some details.Check Edabit for problem task

-

[2020-10-02 07:43] SUKANTHEN commented on #153
I would like to Do this ! Help me make my First PR !

[2020-10-02 07:45] RitikaAg commented on #159
Please assign this to me

[2020-10-02 07:51] ritamganguli opened #162 "Return the First Element in an Array"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

Problem statement:Create a function that takes an array and returns the first element
Problem Link:https://edabit.com/challenge/QaApgtePE6QrCZ64o

---
Before submitting a PR please Check some details.Check Edabit for problem task

- [ ] fileName formet should be in camelcase
    example- returnTheNex

[2020-10-02 07:51] tarundhiraj opened #163 "Encode Morse"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement:**
Create a function that takes a string as an argument and return a non-encoded, encrypted string.

**Problem Link:**
https://edabit.com/challenge/5bYXQfpyoithnQisa

---
Before submitting a PR please Check some details.Check Edabit for problem task

- [ ] fileName formet should b

[2020-10-02 07:51] ysricky opened #164 "Check if an Integer is Divisible By Five"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement: Create a function that returns True if an integer is evenly divisible by 5, and False otherwise.**
**Problem Link: https://edabit.com/challenge/49pyDP8dE3pJ2dYMW**

---
Before submitting a PR please Check some details.Check Edabit for problem task

- [x] fileName formet should be

[2020-10-02 07:51] ghost commented on #162
Please assign me this issue

[2020-10-02 07:51] tarundhiraj commented on #163
I would like to contribute to this issue. Please assign me to this issue.

[2020-10-02 07:52] yosuaricky commented on #164
Please assign this to me...

[2020-10-02 07:52] prathmesh-Chaudhari05 opened #165 "Find ASCII Charcode Of Inverse Case Character"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement: Find ASCII Charcode Of Inverse Case Character
**Problem Link: https://edabit.com/challenge/QFXMcwaQZ8FTAuEtg

---
Before submitting a PR please Check some details.Check Edabit for problem task

- [x] fileName formet should be in camelcase
    example- returnTheNextNumber.py
- [x]

[2020-10-02 07:52] ronika-das opened #166 "Compare Strings by Count of Characters"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement:** Compare Strings by Count of Characters
**Problem Link:**  https://edabit.com/challenge/C3N2JEfFQoh4cqQ98

---
Before submitting a PR please Check some details.Check Edabit for problem task

- [ ] fileName formet should be in camelcase
    example- returnTheNextNumber.py
- [ ]

[2020-10-02 07:53] prathmeshChaudhari05 commented on #165
Please assign this issue to me.

[2020-10-02 07:53] ronika-das commented on #166
Please assign this to me

[2020-10-02 07:55] Nandita-Gupta14 commented on #164
please assign this to me

[2020-10-02 07:55] nikhil3198 opened #168 "Count Ones in Binary Representation of Integer"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement:** Count the amount of ones in the binary representation of an integer. So for example, since 12 is '1100' in binary, the return value should be 2
**Problem Link:** https://edabit.com/challenge/GbyPdqNnp75Wci7Cn

---
Before submitting a PR please Check some details.Check Edabit fo

[2020-10-02 07:56] tarundhiraj opened #169 "It's a Meteor!"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement:**
In a video game, a meteor will fall toward the main character's home planet. Given the meteor's trajectory as a string in the form y = mx + b and the character's position as a tuple of (x, y), return True if the meteor will hit the character and False if it will not
**Problem L

[2020-10-02 07:56] nikhilrevankar98 commented on #168
@aayushi-droid can you assign this task to me?

[2020-10-02 07:56] tarundhiraj commented on #169
I would like to contribute to this issue. Please assign me to this.

[2020-10-02 07:57] Renu-code commented on #164
please assign it to me

[2020-10-02 07:57] KuruvillaJacob02 commented on #159
Has this issue been assigned yet, If not it would be much appreciated if this issue is assigned to me

[2020-10-02 07:57] RamyaThirumalaisamy commented on #168
@aayushi-droid Please assign this task to me?Thanks!

[2020-10-02 07:59] RamyaThirumalaisamy commented on #162
@aayushi-droid Please assign this task to me.Thanks!

[2020-10-02 07:59] tarundhiraj opened #170 "Identity Matrix"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement:**
Create a function that takes an integer n and returns the identity matrix of n x n dimensions. For this challenge, if the integer is negative, return the mirror image of the identity matrix of n x n dimensions.. It does not matter if the mirror image is left-right or top-bottom

[2020-10-02 08:01] tarundhiraj commented on #170
I would like to contribute to this issue. Please assign me to this issue.

[2020-10-02 08:03] RamyaThirumalaisamy commented on #169
@aayushi-droid Please assign this issue to me.Thanks!

[2020-10-02 08:05] KuruvillaJacob02 opened #173 "Sum of Prime Numbers"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement:Create a function that takes a list of numbers and returns the sum of all prime numbers in the list.**
**Problem Link:https://edabit.com/challenge/GAbxxcsKoLGKtwjRB**

---
Before submitting a PR please Check some details.Check Edabit for problem task

- [x] fileName formet should

[2020-10-02 08:05] RamyaThirumalaisamy commented on #164
@aayushi-droid Please assign this issue to me.Thanks!

[2020-10-02 08:05] KuruvillaJacob02 commented on #173
@aayushi-droid  It would be much appreciated if this task would be assigned to me

[2020-10-02 08:06] RamyaThirumalaisamy commented on #173
@aayushi-droid Please assign this issue to me.Thanks!

[2020-10-02 08:11] hamzzy commented on #168
@aayushi-droid  can you assign me the task  done  just to make a pr

[2020-10-02 08:15] ghost commented on #162
@aayushi-droid Please assign me this task

[2020-10-02 08:16] tdserapio commented on #164
@aayushi-droid  Please assign this issue to me. Thank you in advanced!

[2020-10-02 08:19] prathmeshChaudhari05 opened #174 "Four Passengers and a Driver"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement: Four Passengers and a Driver
**Problem Link: https://edabit.com/challenge/T7DpLzEkAkcxKijzR

---
Before submitting a PR please Check some details.Check Edabit for problem task

- [x] fileName formet should be in camelcase
    example- returnTheNextNumber.py
- [x]  Add label for P

[2020-10-02 08:19] prathmeshChaudhari05 commented on #174
please assign this issue to me

[2020-10-02 08:20] KuruvillaJacob02 commented on #173
Hi! Actually you should submit your own issue, and then once its assigned you must sumbit the PR.

[2020-10-02 08:28] Brokenpaws004 commented on #174
Assign this task to me

[2020-10-02 08:28] KuruvillaJacob02 opened #177 "Atbash Cipher"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement:The Atbash cipher is an encryption method in which each letter of a word is replaced with its "mirror" letter in the alphabet: A <=> Z; B <=> Y; C <=> X; etc.

Create a function that takes a string and applies the Atbash cipher to it.**
**Problem Link:https://edabit.com/challenge/

[2020-10-02 08:29] KuruvillaJacob02 commented on #177
@aayushi-droid Much appreciated if this issue would be assigned to me, Thank you for your time

[2020-10-02 08:30] ritamganguli opened #178 "Drunken Python"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

Problem statement:Python got drunk and the built-in functions str() and int() are acting odd:
Problem Link:https://edabit.com/challenge/pfn6QRn6eiTHEPpSs

---
Before submitting a PR please Check some details.Check Edabit for problem task

- [ ] fileName formet should be in camelcase
    example- retu

[2020-10-02 08:32] ghost commented on #178
Please Please Please assign me this task please

[2020-10-02 08:36] suparna13 opened #180 "Calculate the Profit"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

Problem statement:
You work for a manufacturer, and have been asked to calculate the total profit made on the sales of a product. You are given a dictionary containing the cost price per unit (in dollars), sell price per unit (in dollars), and the starting inventory. Return the total profit made, rou

[2020-10-02 08:36] Ankit1598 opened #181 "Phone Letter Combinations"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement:** Given a string containing digits from 2-9 inclusive, return all possible letter combinations that the number could represent. A mapping of digit to letters (just like on the telephone buttons) is given below. Note that 1 does not map to any letters.
**Problem Link:** https://ed

[2020-10-02 08:36] suparna13 commented on #180
@aayushi-droid  I would like to contribute to this issue. Please assign it to me.

[2020-10-02 08:36] Sherlock-B221 commented on #174
I am willing to work on this , please assign this to me.

[2020-10-02 08:36] ronika-das opened #182 "Concatenating Two Integer Lists"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement:** Concatenating Two Integer Lists
**Problem Link:**  https://edabit.com/challenge/cCWMeiJCP9Ef8XMq8

---
Before submitting a PR please Check some details.Check Edabit for problem task

- [ ] fileName formet should be in camelcase
    example- returnTheNextNumber.py
- [ ]  Add lab

[2020-10-02 08:36] ronika-das commented on #182
please assign this to me

[2020-10-02 08:37] Ankit1598 commented on #181
please assign this to me

[2020-10-02 08:38] ronika-das opened #183 "International Greetings"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement:**International Greetings
**Problem Link:**  https://edabit.com/challenge/vAS4Hp4wzSEnQs3tZ
Suppose you have a guest list of students and the country they are from, stored as key-value pairs in a dictionary.

GUEST_LIST = {
"Randy": "Germany",
"Karla": "France",
"Wendy": "Japan",

[2020-10-02 08:38] ronika-das commented on #183
Please assign this to me

[2020-10-02 08:39] himik-nainwal commented on #182
I have completed python recently please assign me.

[2020-10-02 08:40] Sherlock-B221 commented on #183
Please assign this to me , i am willing to work on this issue.

[2020-10-02 08:40] Sherlock-B221 commented on #182
Please assign this to me , i am willing to work on this issue.

[2020-10-02 08:44] suparna13 opened #184 "Check If Lines Are Parallel"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

Problem statement:
Given two lines, determine whether or not they are parallel.
Lines are represented by a list [a, b, c], which corresponds to the line ax+by=c.

Problem Link:
https://edabit.com/challenge/8rEEHcmq8rRaTksd7

---
Before submitting a PR please Check some details.Check Edabit for proble

[2020-10-02 08:44] suparna13 commented on #184
@aayushi-droid I would like to contribute to this issue. Please assign it to me.

[2020-10-02 08:44] anirudhthakur commented on #182
can i do this

[2020-10-02 08:49] anomius commented on #163
hey can I contribute, can you pls assign this issue

[2020-10-02 08:58] sah16 commented on #174
please assign it to me

[2020-10-02 09:07] sah16 commented on #166
I would love to work on it.  Please assign

[2020-10-02 09:14] himik-nainwal commented on #182
https://github.com/Himith/Python-Thunder/blob/newpro/concatinateTwoIntList.py

#182 done

[2020-10-02 09:17] tdserapio commented on #159
I would love to work on this task, and I have made a sufficient solution already. please assign me to this task. Thank you!

[2020-10-02 09:26] PritamSinghaRoy commented on #147
i would love to work on it plz assign this to me

[2020-10-02 09:30] dhavalmaniyar commented on #184
@aayushi-droid can you please assign this task to me?

[2020-10-02 09:32] sanskarvijpuria opened #185 "Invert Keys and Values"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement: Write a function that inverts the keys and values of a dictionary.**
**Problem Link: https://edabit.com/challenge/Axim3Ld5zu9RFLZKr**

---
Before submitting a PR please Check some details. Check Edabit for problem task

- [x] fileName format should be in camelcase
    example- re

[2020-10-02 09:32] sanskarvijpuria commented on #185
Assign this to me.

[2020-10-02 09:33] Renu-code commented on #162
@aayushi-droid can you please assign this issue to me

[2020-10-02 09:36] dhavalmaniyar commented on #166
@ronika-das  please assign it to me.

[2020-10-02 09:37] gokulrajanpillai opened #186 "Rock, Paper, Scissors!"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement:** Write a function to simulate the rock, paper, scissors game between Abigail and Benson.
**Problem Link:** https://edabit.com/challenge/p6uXeD7JC7cmxeD2Z

---
Before submitting a PR please Check some details.Check Edabit for problem task

- [ ] fileName formet should be in camel

[2020-10-02 09:41] subhamagrawal7 commented on #136
I cannot assign it to you.

[2020-10-02 09:41] gokulrajanpillai commented on #186
@aayushi-droid: Please add the label hard and assign this issue to me.
Thanks in advance.

[2020-10-02 09:48] anshik1998 commented on #180
@aayushi-droid, Can you please assign this problem statement to me? I have already written the python program to contribute to this problem using the OOPs concept and just waiting to get it assigned to me.

[2020-10-02 09:51] Neel2904 opened #188 "Return string as an integer"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement:** Create a function that takes a string and returns it as an integer.
**Problem Link:** https://edabit.com/challenge/GPmoRCZKkyNtoJMcN

---
Before submitting a PR please Check some details. Check Edabit for problem task

- [x] fileName formet should be in camelcase
    example- r

[2020-10-02 09:51] Neel2904 commented on #188
I want to work on this.
**Assign me**

[2020-10-02 09:54] Neel2904 opened #189 "Alphabet Soup"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement:** Create a function that takes a string and returns a string with its letters in alphabetical order.
**Problem Link:** https://edabit.com/challenge/4Agr8CTY7x2rAhh5n

---
Before submitting a PR please Check some details.Check Edabit for problem task

- [x] fileName formet should

[2020-10-02 09:55] Neel2904 commented on #189
I would like to work on this.
Can you **Assign me** @aayushi-droid

[2020-10-02 09:57] kubercodes commented on #188
I am searching for projects and issue for my very first hacktoberfest contributions and this looks very perfect for me.... can you please assign it to me

[2020-10-02 10:18] leelagenny commented on #168
@aayushi-droid I would like to solve this one. please assign the task to me. Thanks.

[2020-10-02 10:33] sanskarvijpuria opened #191 "Bitwise Operator to Check Odd, Regular Expression to Check Even"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement: Create two functions:

1. The first is is_odd() to check if a given number is odd using a bitwise operator.

2. The second is is_even() to check if a given input is even using regular expressions.**

**Problem Link: https://edabit.com/challenge/QEL3QAY9ZhSkZcEih **

---
Before su

[2020-10-02 10:34] sanskarvijpuria commented on #191
Assign me this issue @aayushi-droid

[2020-10-02 10:47] noemi3 commented on #150
Hi! I would like to work on this issue. Thanks.

[2020-10-02 10:48] noemi3 commented on #153
Hi! I would like to work on this issue. Thanks.

[2020-10-02 10:52] noemi3 commented on #162
Hi! I would like to work on this issue. Thanks.

[2020-10-02 10:53] noemi3 commented on #173
Hi! I would like to work on this issue. Thanks.

[2020-10-02 11:02] khandelwalsarvesh commented on #188
Can you assign this task to me? I worked in Python quite a few times. I can do this task with all necessary guidelines.
Assign Me.

[2020-10-02 11:09] Hinal-Srivastava commented on #136
I am interested to contribute to this.

[2020-10-02 11:18] DipanshuShukla commented on #40
I would be happy to do this. Please assign.

[2020-10-02 11:38] GnathMath commented on #40
I request you to assign me the problem on converting a string "a+bi" into a tuple (a,b), where a and b are integers using python.

[2020-10-02 12:01] mdegis opened #195 "Oddish vs. Evenish"
**Problem statement:**

Create a function that determines whether a number is Oddish or Evenish. A number is Oddish if the sum of all of its digits is odd, and a number is Evenish if the sum of all of its digits is even. If a number is Oddish, return "Oddish". Otherwise, return "Evenish".

For example, oddishOrEvenish(121) should return "Evenish", since 1 + 2 + 1 = 4. oddishOrEvenish(41) should re

[2020-10-02 12:02] mdegis commented on #195
I would like to work on this 🕵️‍♂️

[2020-10-02 12:05] somkuwaryash commented on #195
Hey,
       I would like to work on this. Please assign this to me.

[2020-10-02 12:39] GnathMath commented on #195
I would like to work on this problem too

[2020-10-02 12:40] DhanushNehru commented on #195
Can I work on this using javascript. Please assign to me

[2020-10-02 13:16] asiskumarroy commented on #195
please assign me this i would like to work on it

[2020-10-02 13:27] abhirambsn commented on #40
I request you to assign me the problem on converting a string "a+bi" into a tuple (a,b), where a and b are integers using python,
I have the code ready just the formatting as per the above guidelines is needed

[2020-10-02 13:29] ashvinimore commented on #182
I have better solution . Can I work on that?
Thank You

[2020-10-02 13:34] abhirambsn commented on #40
I have also done the formatting

[2020-10-02 13:49] abhirambsn commented on #195
I would like to work on this problem, please consider me for assignment on this problem

[2020-10-02 14:23] Amrita211 commented on #153
Hello @suparna13 I would like to work on this, please assign it to me.

[2020-10-02 14:25] Amrita211 commented on #173
Hello! I would love to work on this issue. Thanks!

[2020-10-02 14:26] Neel2904 commented on #188
@sark-2110  do not PR before you assigned on issue. That is opposing the guidelines of the project.

[2020-10-02 16:07] kushalbargoti commented on #40
@abhirambsn @GnathMath Kindly don't spam here, you can choose another problem from edabit then create an issue and get it assigned and work on it.
So everyone stop spamming here, this issue is already assigned.

[2020-10-02 16:10] 000Nobody opened #207 "Factorial of a Number"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement:**
Create a function that receives a non-negative integer and returns the factorial of that number.

**Problem Link:**
https://edabit.com/challenge/PNbsQzmDR3CJ9JHkB

---
Before submitting a PR please Check some details.Check Edabit for problem task

- [ ] fileName formet should b

[2020-10-02 16:11] 000Nobody commented on #207
Can this be assigned to me?

[2020-10-02 16:12] ayu16 commented on #207
please assign this to me...

[2020-10-02 16:21] thevivekmnair commented on #207
Can i do it .
Please assign me

[2020-10-02 16:22] Raghibshams456 commented on #207
please assign this to me..

[2020-10-02 16:23] Mahalinoro opened #208 "Buggy Uppercase Counting"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement:**
In the Code tab is a function which is meant to return how many uppercase letters there are in a list of various words. Fix the list comprehension so that the code functions normally!

Examples:
[code]
**Problem Link:**
https://edabit.com/challenge/Hs7YDjZALCEPRPD6Z
---
Before

[2020-10-02 16:24] Raghibshams456 commented on #162
please assign it to me...

[2020-10-02 16:24] thevivekmnair commented on #191
Can i do it . Can u assign it to me

[2020-10-02 16:25] Mahalinoro commented on #208
Please, I would appreciate if this can be assigned to me as I am already done with the solution.

[2020-10-02 16:47] augustoaccorsi opened #209 "How Many Solutions Does This Quadratic Have?"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement:** How Many Solutions Does This Quadratic Have?
**Problem Link:**  https://edabit.com/challenge/o2AKq4xy3nfZabKXL

---
Before submitting a PR please Check some details.Check Edabit for problem task

- [x] fileName formet should be in camelcase
    example- returnTheNextNumber.py
-

[2020-10-02 16:48] augustoaccorsi commented on #209
@aayushi-droid I would really appreciate if you assign this task to me, thanks in advance!

[2020-10-02 17:21] GhAc-2017 opened #210 "Caesar's Cipher"
https://edabit.com/challenge/C45TKLcGxh8dnbgqM
[code]
Can this be assigned to me
I have solved this question and tried to make it very simple with comments, please have a look and merge!

[2020-10-02 17:43] iracaballero commented on #178
Could you assing this issue to me please?

[2020-10-02 18:06] 0xYa5h commented on #177
Please assign this issue to me.Thanks

[2020-10-02 18:17] VinayakBector2002 opened #214 "Loops and strings"
"""WAP to perform the following tasks:
i. Take a word as input from the user
ii. Use a for loop to display each letter in
the word
iii. Print each letter in reverse order
iv. Make a new string that is the reverse of
original string and print the variable
v. Count the number of characters in the word
without using any inbuilt functions. """
#a = str(input('Enter a string : '))

print('Each letter o

[2020-10-02 18:29] sb19 commented on #40
please Assign me , i will complete this task .

[2020-10-02 18:34] 7vikpeculiar opened #215 "BalancingScales"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement:** Given a list with an odd number of elements, return whether the scale will tip "left" or "right" based on the sum of the numbers. The scale will tip on the direction of the largest total. If both sides are equal, return "balanced".

**Problem Link:**  https://edabit.com/challen

[2020-10-02 18:36] 7vikpeculiar commented on #215
Hi, can I work on this problem . I checked all the problems contributed to, this is a new one

[2020-10-02 18:44] iriyagupta commented on #207
@000Nobody Hi, can you assign this to me, i have the code ready.

[2020-10-02 19:09] 000Nobody commented on #207
made pr #217

[2020-10-02 20:34] Gerald-Izuchukwu commented on #215
Can I be assigned o this?

[2020-10-02 20:49] mrselukar commented on #210
I would like to work on this issue.

[2020-10-02 21:44] mrselukar opened #218 "Encode Morse"
Encode Morse: Encoding string to morse code

**Problem statement:** Create a function that takes a string as an argument and return a non-encoded, encrypted string.
**Problem Link:** https://edabit.com/challenge/5bYXQfpyoithnQisa

Morse Code is extremely popular, I would like to work on this.

I have thoroughly checked the PRs, Issues, and the code.
This problem seems to be a new one Issue #199 is

[2020-10-02 21:45] mrselukar commented on #218
Could you please assign this to me

[2020-10-02 22:43] ashwinvin commented on #189
Hello @Neel2904, Could you be kind enough to _assign me_ this?

[2020-10-03 02:28] JoshuaOloton commented on #207
Please assign this to me

[2020-10-03 02:42] JoshuaOloton commented on #215
Please assign this to me

[2020-10-03 03:21] TEMHITHORPHE opened #221 "The Karaca's Encryption Algorithm"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement:**
Make a function that encrypts a given input with these steps:

		Input: "apple"
		Step 1: Reverse the input: "elppa"
		Step 2: Replace all vowels using the following chart:
		a => 0
		e => 1
		i => 2
		o => 2
		u => 3
		# "1lpp0"
		Step 3: Add "aca" to the end of the word: "1lp

[2020-10-03 03:21] TEMHITHORPHE commented on #221
can this be assigned to me please ?

[2020-10-03 03:40] TEMHITHORPHE opened #222 "Numbers to English"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement:**
`Problem statement: Make a function that encrypts a given input with these steps:Write a function that accepts a positive
integer between 0 and 999 inclusive and returns a string representation of that integer written in English.:

	Examples
	num_to_eng(0) ➞ "zero"
	num_to_eng(

[2020-10-03 03:40] TEMHITHORPHE commented on #222
can i get assigned to this please ?

[2020-10-03 03:46] fredcodee commented on #222
hello, i would love to help solve this issue : https://edabit.com/challenge/mZqMnS3FsL2MPyFMg

[2020-10-03 03:48] Neel2904 commented on #189
@ashwinvin Sorry, I can't assign anyone. I'm also contributor and only admin can assign for issue.

[2020-10-03 03:50] siddheshih commented on #221
Could you please assign this task to me?

[2020-10-03 03:54] yashqwerty1 commented on #221
I will do it.

[2020-10-03 04:12] nootz1999 commented on #222
can i do this?

[2020-10-03 04:20] asiskumarroy commented on #209
Please assign me this task,I would like to contribute

[2020-10-03 04:28] kushalbargoti commented on #40
@aayushi-droid  Done ✅

[2020-10-03 04:35] Taneesha-creates commented on #222
I'd like to work on this. Please assign it to me!
Thanks in advance :)

[2020-10-03 04:41] Mayank662 commented on #209
Please assign me this issue.

[2020-10-03 04:47] DhruvSondhi commented on #183
hello ... can this issue be assigned to me ?

[2020-10-03 04:57] nootz1999 commented on #221
can i work on this?

[2020-10-03 05:03] nootz1999 commented on #214
can i do this?

[2020-10-03 05:05] raniphore opened #226 "Sum of Prime Numbers"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Create a function that takes a list of numbers and returns the sum of all prime numbers in the list**
**https://edabit.com/challenge/GAbxxcsKoLGKtwjRB**

---
Before submitting a PR please Check some details.Check Edabit for problem task

- [ ] fileName formet should be in camelcase
    example- ret

[2020-10-03 05:06] raniphore commented on #226
Please assign to me and add the label Hard

[2020-10-03 05:14] nootz1999 commented on #226
up for it.

[2020-10-03 05:16] Asuddle commented on #226
Please assign it to me

[2020-10-03 05:26] AmitManna99 commented on #226
Please Assign it to me

[2020-10-03 05:31] yashqwerty1 commented on #226
Will do it.

[2020-10-03 05:55] kbhandari98 commented on #226
Please assign it to me. I'm new to this.

[2020-10-03 06:04] asiskumarroy commented on #209
hello i solved the oddish evenish problem and created a pull request for
that.It hasn't been merged yet.
Please do  so ,, so that i can create another pull request for the
quadratic equation problem.

On Sat, 3 Oct 2020 at 10:11, Mayank goel <notifications@github.com> wrote:

[2020-10-03 06:53] KuruvillaJacob02 commented on #210
Hey there, unfortunately a PR has already been submitted for Ceasars Cipher

[2020-10-03 07:35] TasneemParveen opened #229 "Harshad Number"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement:**
   A number is said to be Harshad if it's exactly divisible by the sum of its digits. Create a function that determines whether a
   number is a Harshad or not.

**Problem Link:**
   https://edabit.com/challenge/Rrauvu8afRbjqPM8L

---
Before submitting a PR please Check some de

[2020-10-03 07:37] TasneemParveen commented on #229
I would like to work on this so pls assign me to it. I found it under the hard section on edabit so kindly label it hard.

[2020-10-03 07:40] mahesh-kumaran commented on #226
Hey I'm Interested in taking this up !! This would be something great to start my Open Source Journey ! Please assign this to me!

[2020-10-03 08:24] Moglten commented on #178
could I contribute here, I will give it a try.

[2020-10-03 08:28] Diadochokinetic opened #231 "Switcharoo"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement:** Create a function that takes a string and returns a new string with its first and last characters swapped, except under three conditions:

    If the length of the string is less than two, return "Incompatible.".
    If the argument is not a string, return "Incompatible.".

[2020-10-03 08:29] Diadochokinetic commented on #231
I would like to solve this problem.

[2020-10-03 10:06] TEMHITHORPHE commented on #222
come on!! guys!.... you cant work on it if you aren't assigned to it yet ... the pull request will be rejected!! ... and besides ... i authored the issue and requested for it first ... it's a first come first serve thing guys ... the README says so ...

[2020-10-03 10:09] TEMHITHORPHE commented on #221
come on!! guys!.... you cant work on it if you aren't assigned to it yet ... the pull request will be rejected!! ... and besides ... i authored the issue and requested for it first ... it's a first come first serve thing guys ... the README says so ...

[2020-10-03 10:13] Aaditya1978 commented on #231
I would like to solve this Problem. Please Assign to me.

[2020-10-03 10:21] Aaditya1978 commented on #170
I would like to solve this issue. Please assign this issue to me.

[2020-10-03 10:33] DevLokCodes commented on #222
I would like to work on it.
thanks in advance

[2020-10-03 10:34] DevLokCodes commented on #231
I would like to work on this Problem. Could you assign this problem to me

[2020-10-03 10:37] DevLokCodes commented on #229
I would like to solve this Problem, Could you assign this problem to me.

[2020-10-03 10:43] DevLokCodes commented on #214
can I get to work on this problem

[2020-10-03 10:45] DevLokCodes commented on #218
I would like to work on this problem
can i get to work on it

[2020-10-03 10:46] DevLokCodes commented on #185
Could i get to work on this problem
Thanking you in advance

[2020-10-03 10:47] DevLokCodes commented on #186
can I work on this problem
could you assign this problem to me

[2020-10-03 10:50] rianrishu commented on #186
Assign me to this task

[2020-10-03 10:54] hsrambo07 commented on #169
I would like to work on this problem, please assign me this

[2020-10-03 10:56] hsrambo07 commented on #214
Hey can i take up this issue. Thank you

[2020-10-03 10:56] hsrambo07 commented on #181
hey can i take up ths issue thanks

[2020-10-03 11:02] Aaditya1978 commented on #184
I would like to contribute to this issue . Please assign this to me.

[2020-10-03 11:30] gokulrajanpillai commented on #186
@rianrishu @DevLokCodes This is already solved, I have made a PR for this aswell. Please follow the repo guidelines and make another issue.

[2020-10-03 11:41] aayushi-droid commented on #138
Thanks for messaging but priority will give to issue-author(who created the issue)

[2020-10-03 11:42] #141 closed

[2020-10-03 11:42] aayushi-droid commented on #143
Thanks for messaging but priority will give to issue-author(who created the issue)

[2020-10-03 11:43] aayushi-droid commented on #144
Thanks for messaging but priority will give to issue-author(who created the issue)

[2020-10-03 11:44] aayushi-droid commented on #144
#158

[2020-10-03 11:44] #144 closed

[2020-10-03 11:44] aayushi-droid commented on #143
#158

[2020-10-03 11:44] #143 closed

[2020-10-03 11:46] aayushi-droid commented on #147
@snehagupta-4 please create a new issue. green button on right upper corner

[2020-10-03 11:51] aayushi-droid commented on #186
Thanks for messaging but priority will give to issue-author(who created the issue)

[2020-10-03 11:52] #186 closed

[2020-10-03 11:55] #86 closed

[2020-10-03 12:56] Jayshah6699 commented on #30
@aayushi-droid I have completed all of my tasks kindly merge my pull requests

[2020-10-04 09:00] Jayshah6699 commented on #31
@aayushi-droid kindly add the hacktoberfest-comleted label

[2020-10-04 09:12] GSNCodes opened #235 "War of Numbers"
**Problem statement:**
There's a great war between the even and odd numbers. Many numbers already lost their life in this war and it's your task to end this. You have to determine which group is larger: the even, or the odd. The larger group wins.

Create a function that takes an array of integers, sums the even and odd numbers seperately, then returns the larger of the sums minus the smaller.

**

[2020-10-04 09:13] GSNCodes commented on #235
@aayushi-droid  Could you assign me this issue, I would like to work on it :)

[2020-10-04 09:20] Neel2904 commented on #189
@aayushi-droid  Assign me I want to work on this.

[2020-10-04 11:49] Mikhaylov-yv commented on #235
I created a function

[2020-10-04 12:40] iamKaartik commented on #226
I'll be grateful to you, if you could assign this work to me.😊

[2020-10-04 12:42] iamKaartik commented on #180
I'll be grateful to you if you could assign this task to me.

[2020-10-04 13:50] sawamoha20 opened #239 "Count Palindrome Numbers in a Range"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement**: Create a function that returns the number of palindrome numbers in a specified range (inclusive).
**Problem Link**: https://edabit.com/challenge/BRoBDeEc2be7wm8BD
**Examples** :
     countPalindromes(1, 10) ➞ 9

     countPalindromes(555, 556) ➞ 1

     countPalindromes(878, 89

[2020-10-04 13:51] sawamoha20 opened #240 "Count Palindrome Numbers in a Range"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement**: Create a function that returns the number of palindrome numbers in a specified range (inclusive).
**Problem Link**: https://edabit.com/challenge/BRoBDeEc2be7wm8BD
**Examples** :

     countPalindromes(1, 10) ➞ 9

     countPalindromes(555, 556) ➞ 1

     countPalindromes(878, 8

[2020-10-04 13:52] jinkya commented on #240
Hello, please assign me.

[2020-10-04 14:03] thinkswell commented on #207
Hey, It would be my pleasure if you assign me this task, as I am already done with the solution just need the assignment to give PR.
Thank You.

[2020-10-04 14:03] Kartik987 commented on #239
Hey @sawamoha20 . Can i contribute to this issue?

[2020-10-04 14:11] thinkswell commented on #184
@aayushi-droid   Hi, Can you assign this issue to me, as I have the code ready.

[2020-10-04 14:27] BassCoder2808 commented on #240
Hi  I would like you to assign this issue to me.
I have solved the complete problem and here is the output for the same.
PS C:\Users\vedant jolly\Desktop> python .\hacktober.py
1 10
9

PS C:\Users\vedant jolly\Desktop> python .\hacktober.py
878 898
3

I have performed the above code in python,

[2020-10-04 14:39] Aaditya1978 opened #242 "Curzon Numbers"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement:** Check if a given integer num is a Curzon number. If 1 plus 2 elevated to num is exactly divisible by 1 plus 2 multiplied by num, then num is a Curzon number. Given a non-negative integer num, implement a function that returns True if num is a Curzon number, or False otherwise.

[2020-10-04 14:40] Aaditya1978 commented on #242
I would like to solve this Problem. Please assign to me.

[2020-10-04 14:50] #239 closed

[2020-10-04 16:48] ghost commented on #240
Hello! I would like to have this assigned to me.

[2020-10-05 07:18] Kishan-Sahu commented on #56
can you assign this work to me.

[2020-10-05 15:22] Jayshah6699 commented on #30
@aayushi-droid kindly merge the pull request

[2020-10-06 14:33] shivanshsinghal107 opened #249 "Among Us Imposter Formula"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement:** Create a function that calculates the chance of being an imposter. The formula for the chances of being an imposter is 100 × (i / p) where i is the imposter count and p is the player count. Make sure to round the value to the nearest integer and return the value as a percentage

[2020-10-06 14:34] shivanshsinghal107 commented on #249
I would like to solve this problem, please assign it to me

[2020-10-06 14:50] huandrey commented on #249
The "imposter (1, 8)" example of the link provided is returning 13%, wouldn't it be 12%? Or is rounding up intentional?

[2020-10-06 14:51] VectorXz opened #251 "Return Something to Me!"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement:** Return Something to Me!
**Problem Link:** https://edabit.com/challenge/XXJbGFEkrMWCp8yFn

---
Before submitting a PR please Check some details.Check Edabit for problem task

- [x] fileName formet should be in camelcase
    example- returnTheNextNumber.py
- [x]  Add label for Pr

[2020-10-06 14:51] VectorXz commented on #251
I want to solve this problem, please assign this to me. Thank you! :)

[2020-10-06 14:57] shivanshsinghal107 commented on #249
It's weird why python is doing this, but here is something I found
https://stackoverflow.com/questions/51463918/different-results-for-round12-5-on-different-python-versions

[2020-10-06 14:59] Chidu2000 commented on #251
please assign me the problem , looking forward to work on this

[2020-10-06 15:04] huandrey commented on #249
that's weird kkkk but good luck :DD

[2020-10-06 15:50] DuncanScu commented on #251
Please assign this problem to me, I have a solution ready :)

[2020-10-06 16:12] kakarot2019 commented on #249
It's weird and exciting at the same time. Please assign it to me.I will be more than happy to do this project.

[2020-10-06 16:15] kakarot2019 commented on #251
I have solved the problem . Please assign it to me so that i can merge my solution

[2020-10-06 16:33] shivanshsinghal107 commented on #249
Hey @kakarot2019, to contribute to this repository you have to pick one problem from edabit site and then create an issue for solving that problem and ask to be assigned for that, after assigned you can work on your problem and submit the PR.

[2020-10-06 16:52] kakarot2019 opened #255 "Convert age to days"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement:**
accepts age and returns the number of days
**Problem Link:**
https://edabit.com/challenge/xbZR26rHMNo32yz35
---
Before submitting a PR please Check some details.Check Edabit for problem task

- [ ] fileName formet should be in camelcase
    example- returnTheNextNumber.py
- [ ]

[2020-10-06 16:53] kakarot2019 commented on #255
please assign it to me .I know how to solve it .

[2020-10-06 16:57] NitinShaily commented on #255
please assign it to me I can solve this problem

[2020-10-06 17:17] AbhishekBhosale46 commented on #255
I will solve it immediately please assign it to me.

[2020-10-06 17:28] AvinashSubhash commented on #255
Hey, It would be great if you could assign me for this :-) I'll Solve it.

[2020-10-07 03:47] huandrey opened #257 "Fullname and Email"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement:** Create the instance attributes **fullname** and **email** in the **Employee** class. Given a person's first and last names:
- Form the **fullname** by simply joining the first and last name together, separated by a space.
- Form the **email** by joining the **first** and **last

[2020-10-07 03:48] huandrey commented on #257
Hello, I can work on this problem. I checked all the problems contributed, this is for sure is a new one: D

[2020-10-07 08:03] vmgmreddy opened #258 "Convert to Hex"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

Problem statement: Create a function that takes a strings characters as ASCII and returns each characters hexadecimal value as a string.
Problem Link: https://edabit.com/challenge/g6yjSfTpDkX2STnSX

---
Before submitting a PR please Check some details.Check Edabit for problem task

- [x] fileName for

[2020-10-07 09:09] vmgmreddy commented on #258
please assign this task to me!

[2020-10-07 09:39] #164 closed

[2020-10-07 09:42] aayushi-droid commented on #178
#3 Already completed

[2020-10-07 09:43] #178 closed

[2020-10-07 09:43] aayushi-droid commented on #181
#26 Already complete

[2020-10-07 09:43] #181 closed

[2020-10-07 09:46] aayushi-droid commented on #188
@sark-2110 Invalid PR

[2020-10-07 09:47] aayushi-droid commented on #210
#144 Duplicate

[2020-10-07 09:47] #210 closed

[2020-10-07 09:49] #189 closed

[2020-10-07 10:17] PranavAnand587 commented on #257
Hello, Can I work on this problem and make a PR?

[2020-10-07 13:38] Madhav243 commented on #257
Can i work on this and make a PR?

[2020-10-07 13:48] khandelwalsarvesh commented on #258
Can you please assign this task to me?

[2020-10-07 13:50] aishuo07 commented on #191
Can u assign me?

[2020-10-07 13:51] aishuo07 commented on #207
I have ready code please assign to me

[2020-10-07 13:56] khandelwalsarvesh commented on #188
Can you assign me this? Thanks.

[2020-10-07 14:53] aish0007 opened #267 "Fibonacci last 2 digits in constant time complexity"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement:** find  last 2 digits of nth Fibonacci number
**Problem Link:**

---
Before submitting a PR please Check some details.Check Edabit for problem task

- [ ] fileName formet should be in camelcase
    example- returnFibonacciLast2Digits.py
- [ ] python
- [ ]  program to find last 2

[2020-10-07 14:54] aishuo07 commented on #267
Can i work on this issue

[2020-10-07 14:57] nadavWeisler commented on #267
Please assign me :)

[2020-10-07 15:23] sajeevan16 commented on #267
Please assign this problem

[2020-10-07 16:00] ghost commented on #257
Can I work on this?

[2020-10-07 16:01] ghost commented on #267
Hi,Can i work on this??

[2020-10-07 16:02] ghost commented on #207
Hi,
Can I contribute on this?

[2020-10-07 16:41] taneemishere commented on #257
Let this assign to me I can do this. Please I'll an entry for the Hacktoberfest!

[2020-10-07 17:05] Zaidtech commented on #207
hi!! can I take on this issue?

[2020-10-07 17:19] #195 closed

[2020-10-07 17:34] huandrey commented on #257
Hey @everyone, to contribute to this repository you have to pick one problem from https://edabit.com and then create an issue for solving that problem and ask to be assigned for that, after assigned you can work on your problem and submit the PR.

[2020-10-07 18:07] Madhav243 opened #272 "Drunken Python"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement:** You need to create two functions to substitute str() and int(). A function called int_to_str() that converts integers into strings and a function called str_to_int() that converts strings into integers.
Examples:
int_to_str(4) ➞ "4"
str_to_int("4") ➞ 4
int_to_str(29348) ➞ "2934

[2020-10-07 18:08] Madhav243 commented on #272
Please assign this task to me. I am ready to make solution for this problem.

[2020-10-08 03:58] guptadhaval18 opened #274 "Length of a Nested List"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement:**Python's len() method will return the number of elements in a list. For example, the list below contains 2 elements:
[1, [2, 3]]
2 elements, number 1 and list [2, 3]
Suppose we instead wanted to know the total number of non-nested items in the nested list. In the above case, [1,

[2020-10-08 03:58] guptadhaval18 commented on #274
@aayushi-droid Please assign me this task

[2020-10-08 04:04] guptadhaval18 opened #275 "LCM of Two Numbers"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement:**Write a function that returns the least common multiple (LCM) of two integers.
    Examples
    lcm(9, 18) ➞ 18
    lcm(8, 5) ➞ 40
    lcm(17, 11) ➞ 187
    Notes
        Both values will be positive.
        The LCM is the smallest integer that is divisible by both numbers such

[2020-10-08 04:05] guptadhaval18 commented on #275
@aayushi-droid please assign me this issue

[2020-10-08 04:21] devaslooper opened #276 "[Problem] [Python] [Hacktoberfest] Logarithm Problem"
**Problem statement:** A logarithm is kind of like reverse exponents. There is a base and a number in a logarithm. The point of a logarithm is to find out what power you have to raise the base to get the number next to the base.
**Problem Link:** [https://edabit.com/challenge/o7LPd9dAE5x9k7zFj](https://edabit.com/challenge/o7LPd9dAE5x9k7zFj)

---
- [x] fileName format should be in camelcase
    ex

[2020-10-08 04:21] devaslooper commented on #276
Please assign, I shall create PR from my fork when assigned

[2020-10-08 04:25] sumasreeeduru commented on #257
assign me. I would like to work on it.

[2020-10-08 04:37] #99 closed

[2020-10-08 05:14] khandelwalsarvesh commented on #275
Can you assign me this problem?

[2020-10-08 05:15] VishalAmbavade opened #279 "Difference of Max and Min Numbers in List"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement:** Create a function that takes a list and returns the difference between the biggest and smallest numbers.

**Examples:** difference_max_min([10, 4, 1, 4, -10, -50, 32, 21]) ➞ 82
Smallest number is -50, biggest is 32.

difference_max_min([44, 32, 86, 19]) ➞ 67
Smallest number is

[2020-10-08 06:01] ritwiksingh21 commented on #279
Hello! I'd like to be assigned to solve this problem.

[2020-10-08 06:17] khandelwalsarvesh commented on #272
Can you please assign me this @Madhav243 ?

[2020-10-08 06:29] sark-2110 opened #280 "Flip the Boolean"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement:**Create a function that reverses a boolean value and returns the string "boolean expected" if another variable type is given.

Examples
reverse(True) ➞ False

reverse(False) ➞ True

reverse(0) ➞ "boolean expected"

reverse(None) ➞ "boolean expected"
**Problem Link:** https://edab

[2020-10-08 06:30] khandelwalsarvesh commented on #280
Please assign me this issue.

[2020-10-08 07:22] sourabhraha commented on #257
Hello, this issue looks familiar to me as I have gone through edabit .
Can I work on this problem  ?

[2020-10-08 07:26] Ares358 opened #283 "C String to C++ String (in Python)"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement:** This is a list of single characters with an unwanted character at the end:
["H", "e", "l", "l", "o", "!", "\0"]
You could also just type "Hello!" when initializing a variable, creating the string "Hello!"
Create a function that will return a string by combining the given charac

[2020-10-08 07:27] Ares358 commented on #283
@aayushi-droid Can I be assigned this?

[2020-10-08 10:51] BAGPALLAB7 commented on #279
Hey @VishalAmbavade i want to solve this problem pls assign me to solve this problem.

[2020-10-08 11:34] Widell79 commented on #279
Would like to give it a try..

[2020-10-08 11:48] prakash-naikwadi opened #284 "Convert to Hex"
**Problem statement:** Create a function that takes a strings characters as ASCII and returns each characters hexadecimal value as a string.

**Notes**

- Each byte must be seperated by a space.
- All alpha hex characters must be lowercase.

**Problem Link:** https://edabit.com/challenge/jBf8Nq259tBEgsz4X

[2020-10-08 11:49] prakash-naikwadi commented on #284
Can I assign to this task?

[2020-10-08 16:15] Kasugoud98 commented on #257
Hello  @aayushi-droid  can i work on this problem.

[2020-10-08 17:28] KhushMody opened #288 "Compound Interest"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement:** Suppose that you invest $10,000 for 10 years at an interest rate of 6% compounded monthly. What will be the value of your investment at the end of the 10 year period?
Create a function that accepts the principal p, the term in years t, the interest rate r, and the number of com

[2020-10-08 17:30] KhushMody commented on #288
Hi, I would like to work on this issue. Could you please assign me.

[2020-10-08 19:34] SoumyaRanjanNaik commented on #288
Can I raise a PR with the solution for this ?

[2020-10-08 19:38] meteora2002 opened #289 "Convert Age to Days"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement:**Create a function that takes the age and return the age in days.Use 365 days as the length of a year for this challenge.
Ignore leap years and days between last birthday and now.
Expect only positive integer inputs.

**Problem Link:**https://edabit.com/challenge/xbZR26rHMNo32yz3

[2020-10-08 19:38] meteora2002 commented on #289
please assign this to me

[2020-10-08 19:39] meteora2002 commented on #289
@aayushi-droid please assign this to me

[2020-10-08 20:09] rajansh87 commented on #257
I too want to work on this.

[2020-10-08 20:33] rajansh87 opened #290 "Solved Fullname and Email problem in Python3"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement:**
**Problem Link:**

---
Before submitting a PR please Check some details.Check Edabit for problem task

- [ ] fileName formet should be in camelcase
    example- returnTheNextNumber.py
- [ ]  Add label for Problem
- [ ]  In file there should be problem statement and link to prob

[2020-10-08 20:45] iamkumar-gaurav commented on #257
may I have permission for this? I Solved that one from the https://edabit.com/challenge/

[2020-10-09 01:23] Shreejichandra commented on #289
I would like to work on this.
Thank you!

[2020-10-09 01:34] Shreejichandra opened #292 "Find the Discount"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement:  Create a function that takes two arguments: the final price and the discount as integers and returns the final price after the discount.**
**Problem Link:  https://edabit.com/challenge/L4Hevck84exPwe4wo**

---
Before submitting a PR please Check some details. Check Edabit for pr

[2020-10-09 01:35] amyanne commented on #257
Hey! I can do this! Or another one. Just let me know!

[2020-10-09 01:38] trewest commented on #292
Hi Shreejichandra,

I can help out with this. Do you mind assigning me?

[2020-10-09 01:46] Shreejichandra commented on #292
I myself would like to work on this. Please assign it to me @aayushi-droid.

[2020-10-09 04:17] manthan2501 commented on #257
I would like to work on this problem in python. please assign me.

[2020-10-09 04:25] hisandeepangara commented on #292
assign to me

[2020-10-09 05:01] Sounakde commented on #289
@aayushi-droid Please assign this issue to me

[2020-10-09 07:30] FarhanMuftiHilmy commented on #162
assign me this issue, please

[2020-10-09 10:01] ritesh-dt opened #296 "Parentheses Clusters"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement:** Write a function that groups a string into parentheses cluster. Each cluster should be balanced.
Examples
`split("()()()") ➞ ["()", "()", "()"]`
`split("((()))") ➞ ["((()))"]`

**Problem Link:** https://edabit.com/challenge/Fpymv2HieqEd7ptAq

---
Before submitting a PR please C

[2020-10-09 10:02] ritesh-dt commented on #296
I would like to work on this problem statement. @aayushi-droid  Could you please assign this to me?

[2020-10-09 11:21] varanasiroshan2001 opened #297 "Convert Hours To seconds in python"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

Problem statement: Create a function that returns the no of seconds when you enter the no of hours as a input.
Problem Link: https://edabit.com/challenge/nyeNvKWdDFKRAk4Da

Before submitting a PR please Check some details. Check Edabit for problem task

- [x]  fileName format should be in camelcase
e

[2020-10-09 11:24] egurnick commented on #297
Hi, I would like to work on this

[2020-10-09 12:37] ghost commented on #297
It seems like @varanasiroshan2001 has already provided the solution to the problem.

You need to submit the solution as a pull request if it's already an existing Issue. If it's not an existing Issue, I'm pretty sure that you can't work on it.

I might be wrong.

[2020-10-09 12:59] varanasiroshan2001 commented on #297
hey how add that tick mark in description in checklist anyone

[2020-10-09 13:25] g-jindal2001 opened #299 "Finding Discount in python"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

Problem statement: Create a function that takes two arguments: the final price and the discount as integers and returns the final price after the discount.

Problem Link: https://edabit.com/challenge/cXnkmRdxqJrwdsP4n

---
Before submitting a PR please Check some details.Check Edabit for problem task

[2020-10-09 13:35] satyabansahoo2000 commented on #299
@g-jindal2001 assign this to me. I will work on this.

[2020-10-09 13:56] g-jindal2001 commented on #299
I have already submitted a pull request for this.
Please open an issue first to contribute to this repository

[2020-10-09 16:01] subhadeep-123 opened #301 "Quotes App Game"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement:**
**Problem Link:**

---
Before submitting a PR please Check some details.Check Edabit for problem task

- [x] fileName formet should be in camelcase
    example- returnTheNextNumber.py
- [x]  Add label for Problem
- [x]  In file there should be problem statement and link to prob

[2020-10-09 16:44] v-j-0 opened #302 "Calculate Age In Days"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement:Create a function that takes the age and return the age in days.**
**Problem Link:https://edabit.com/challenge/bL7hSc6Zh4zZJzGmw**

---
Before submitting a PR please Check some details.Check Edabit for problem task

- [x] fileName formet should be in camelcase
    example- returnT

[2020-10-09 16:57] Hinal-Srivastava commented on #302
Hi!
I'd like to do this

[2020-10-09 17:25] skhadirahmed commented on #302
Hi @v-j-0 I would like to work on this

[2020-10-09 17:28] tianlangwu commented on #302
Hi @v-j-0! would you mind assign this issue to me?

[2020-10-09 17:31] tianlangwu commented on #301
hi @subhadeep-123, I am not sure what do you want to achieve in this issue?

[2020-10-09 18:03] #301 closed

[2020-10-10 01:20] xooseph commented on #302
Hi! I would like to do this @v-j-0

[2020-10-10 14:00] trewest opened #305 "Simple OOP Calculator"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement:** Create methods for the Calculator class that can do the following:

-   Add two numbers.
-   Subtract two numbers.
-   Multiply two numbers.
-   Divide two numbers.

**Problem Link:** https://edabit.com/challenge/ta8GBizBNbRGo5iC6

---
Before submitting a PR please Check some d

[2020-10-10 14:00] trewest commented on #305
Please  assign this issue to me when possible. Thanks.

[2020-10-10 14:30] trewest commented on #305
PR ready when assigned. @aayushi-droid

[2020-10-10 14:32] trewest commented on #292
Apologies @Shreejichandra , I did not read the directions for creating the issue and then having it assigned to you.

All the best!

[2020-10-10 15:18] Shreejichandra commented on #292
It's okay @trewest .

[2020-10-10 15:21] na-vural opened #306 "C*ns*r*d Str*ngs"
Before jumping into Pr first comment for assign. All Problem from Edabit. Link is mandatory to add

**Problem statement:** Given a censored string and a string of the censored vowels, return the original uncensored string.
**Problem Link:** https://edabit.com/challenge/ehyZvt6AJF4rKFfXT

---
Before submitting a PR please Check some details. Check Edabit for problem task

- [ ] fileName format shou

[2020-10-10 15:22] na-vural commented on #306
May I solve this? Thanks :)

[2020-10-10 16:44] #299 closed

[2020-10-10 17:14] na-vural opened #307 "Tallest Skyscraper"
Before jumping into Pr first comment for assign. All Problem from Edabit. Link is mandatory to add

**Problem statement:** A city skyline can be represented as a 2-D list with 1s representing buildings. In the example below, the height of the tallest building is 4 (second-most right column).
[code]
Create a function that takes a skyline (2-D list of 0's and 1's) and returns the height of the talle

[2020-10-10 17:15] na-vural commented on #307
Can you assign me this problem pls :)

[2020-10-11 11:12] BAGPALLAB7 commented on #279
Hey @VishalAmbavade I have added this program please review it and merge this. I'm contributing for the very first time in open source and I'm participating first time on Hacktoberfest. Please accept my code.

[2020-10-11 16:49] Sounakde opened #309 "Converting Hours into Seconds"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement: Write a function that converts hours into seconds..**
**Problem Link: https://edabit.com/challenge/6AnQqiEjkJdZrWhPS**
[code]
---
Before submitting a PR please Check some details.Check Edabit for problem task

- [ ] fileName formet should be in camelcase
    example- returnTheNex

[2020-10-11 16:50] Sounakde commented on #309
Can you please assign me this issue @aayushi-droid ?

[2020-10-12 04:12] TheFenrisLycaon commented on #309
I can do this @aayushi-droid . Can I get this one ?

[2020-10-12 18:51] nootz1999 opened #311 "Concatenating Two Integer Lists"
Before jumping into Pr first comment for assign. All Problem from Edabit. Link is mandatory to add

**Problem statement:** Create a function to concatenate two integer lists.
**Problem Link:** https://edabit.com/challenge/cCWMeiJCP9Ef8XMq8

---
Before submitting a PR please Check some details. Check Edabit for problem task

- [x]   fileName format should be in camelcase
        example- returnTheN

[2020-10-12 18:55] nootz1999 commented on #311
@aayushi-droid  please assign this to me.

[2020-10-12 19:22] #207 closed

[2020-10-12 19:24] #208 closed

[2020-10-12 19:25] aayushi-droid commented on #209
Please mention the PR number

[2020-10-12 19:29] #221 closed

[2020-10-12 19:29] aayushi-droid commented on #222
#247 PR merged

[2020-10-12 19:29] #222 closed

[2020-10-12 19:33] #240 closed

[2020-10-12 19:35] aayushi-droid commented on #249
we are creating and assigning issue to avoid duplicate and spam PR. Thanks for your contributions.

[2020-10-12 19:39] aayushi-droid commented on #257
Thanks all of you for your message. But we can assign the issue to only 1 person and priority will be give to the issue creator.
Feel free to check Edabit.com to find new problem to create new issue and PR.

Best of Luck | Happy HacktoberFest

[2020-10-12 19:41] aayushi-droid commented on #255
priority to issue creator

[2020-10-12 19:45] aayushi-droid commented on #309
duplicate of #134

[2020-10-12 19:45] #309 closed

[2020-10-12 19:46] aayushi-droid commented on #297
duplicate of #134

[2020-10-12 19:46] #297 closed

[2020-10-12 19:46] #118 closed

[2020-10-12 19:48] aayushi-droid commented on #289
duplicate of #255

[2020-10-12 19:48] #289 closed

[2020-10-12 19:51] aayushi-droid commented on #284
duplicate of #258

[2020-10-12 19:51] #284 closed

[2020-10-12 19:52] #258 closed

[2020-10-12 19:54] aayushi-droid commented on #272
Duplicate of #3

[2020-10-12 19:54] #272 closed

[2020-10-12 19:58] #302 closed

[2020-10-12 20:01] #279 closed

[2020-10-12 20:07] aayushi-droid commented on #56
@kokoedwin No PR in 11 Days. Assigning to someone else

[2020-10-12 20:07] #56 closed

[2020-10-12 20:16] #77 closed

[2020-10-12 20:17] #115 closed

[2020-10-12 20:46] #215 closed

[2020-10-12 20:49] aayushi-droid opened #314 "PR Review in Process.Suggest here"
Pr Review in Process. In case If I Closed any Valid PR you can comment the PR no SO I can look again.

Self Check before comment-
- Issue was to assigned to you.
- You have added the Issue number in PR

Suggestions are welcome.

[2020-10-12 20:51] #290 closed

[2020-10-12 20:52] #166 closed

[2020-10-13 09:21] asiskumarroy commented on #209
#202

[2020-10-13 09:21] asiskumarroy commented on #209
#202
That's the PR number

[2020-10-13 09:22] asiskumarroy commented on #209
I am new to github and I will be glad if you merge it since I dont think there's any problem with the code

[2020-10-13 12:06] augustoaccorsi commented on #209
PR #319 created

[2020-10-13 12:43] akanksha470 opened #320 "Convert Hours and Minutes into Seconds"
Before jumping into Pr first comment for assign. All Problem from Edabit. Link is mandatory to add

**Problem statement:** Write a function that takes two integers (hours, minutes), converts them to seconds, and adds them.
**Problem Link:** https://edabit.com/challenge/PjcKZRx8YE5KzRN63

---
Before submitting a PR please Check some details.Check Edabit for problem task

- [x] fileName format shoul

[2020-10-13 12:43] akanksha470 commented on #320
Please assign it to me.

[2020-10-13 13:47] TheSussex commented on #320
Can this be assigned to me? @akanksha470

[2020-10-13 14:14] akanksha470 commented on #320
Actually I wanted to work on it.
 @aayushi-droid  Please assign it to me.

[2020-10-13 16:07] ritesh-dt commented on #296
@aayushi-droid Could you please assign this to me?

[2020-10-13 17:01] Jayshah6699 commented on #30
@aayushi-droid kindly add hacktoberfest-accepted tag

[2020-10-13 17:31] jatinsaini137 opened #323 "FactorialOfANumber.py"
Hey there is an issue in your "FactorialOfANumber.py" it also give output for negative integer I can fix this issue please assign me this issue.

Thank you

[2020-10-13 18:19] na-vural commented on #306
Solution of the problem is ready, I'm waiting for being assigned @aayushi-droid :)

[2020-10-13 22:35] trewest commented on #305
Can you assign me this please? @aayushi-droid

[2020-10-14 04:36] nootz1999 opened #326 "Folding a Piece of Paper"
Before jumping into Pr first comment for assign. All Problem from Edabit. Link is mandatory to add

**Problem statement:**  Create a function that returns the thickness (in meters) of a piece of paper after folding it n number of times. The paper starts off with a thickness of 0.5mm.
**Problem Link:**  https://edabit.com/challenge/4t6YAJS8dtT7RQjta

---
Before submitting a PR please Check some det

[2020-10-14 04:37] nootz1999 commented on #326
@aayushi-droid can i work on this ?

[2020-10-14 14:45] ilmiye commented on #311
I would like to work on this! can you assign this to me ?

[2020-10-14 16:43] 7vikpeculiar opened #327 "Harshad Number"
Before jumping into Pr first comment for assign. All Problem from Edabit. Link is mandatory to add

**Problem statement:** A number is said to be Harshad if it's exactly divisible by the sum of its digits. Create a function that determines whether a number is a Harshad or not.
**Problem Link:**  https://edabit.com/challenge/eADRy5SA5QbasA3Qt

---
Before submitting a PR please Check some details. C

[2020-10-14 16:44] 7vikpeculiar commented on #327
Can I work on this problem ?

[2020-10-14 17:45] lusifer65 commented on #320
sir, can you assign to me

[2020-10-14 17:46] lusifer65 commented on #311
sir, can you assign to me.

[2020-10-14 18:11] nootz1999 commented on #311
guys this issue is already assigned to me. And i have already submitted the solution/PR.

If you want to contribute
1: Go to edabit.com
2: Choose the problem you want to work on and make an issue on that problem.
3: **Wait for the (owner of this repo)aayushi-droid to assign you that issue/problem**.
4: After you get assigned, now make a Pull Request on that issue.

[2020-10-15 04:39] ayoolafelix commented on #327
Hey @7vikpeculiar, I would love to perform this task in Python, can you assign this to me?

[2020-10-15 06:35] 7vikpeculiar commented on #327
Hi @ayoolafelix, you can choose any problem from edabit ... I don't have the authority to assign the issue

[2020-10-15 07:13] ayoolafelix commented on #327
You mean, I can solve the problem, I don't need to be assigned?

[2020-10-15 08:06] #130 closed

[2020-10-15 08:07] #36 closed

[2020-10-15 08:08] #131 closed

[2020-10-15 08:10] #151 closed

[2020-10-15 08:24] #90 closed

[2020-10-15 08:30] #40 closed

[2020-10-15 08:31] #235 closed

[2020-10-15 08:33] #147 closed

[2020-10-15 08:34] #136 closed

[2020-10-15 08:38] #177 closed

[2020-10-15 08:41] aayushi-droid commented on #226
#173 Duplicate issue and PR

[2020-10-15 08:41] #226 closed

[2020-10-15 12:19] 7vikpeculiar commented on #327
No.... I put this issue because, I wanted to work on this problem... The admin will assign the problem. You can choose any problem you want to solve and put up a similar issue to solve it. Check out the contribution guidelines

[2020-10-16 05:23] ayoolafelix commented on #327
Alright, thanks

[2020-10-19 09:06] #168 closed

[2020-10-19 09:10] #163 closed

[2020-10-19 09:11] #170 closed

[2020-10-19 09:12] #159 closed

[2020-10-19 09:14] #169 closed

[2020-10-19 09:15] #165 closed

[2020-10-19 09:16] #275 closed

[2020-10-19 09:18] #276 closed

[2020-10-19 09:20] #249 closed

[2020-10-19 09:21] #242 closed

[2020-10-19 09:22] aayushi-droid commented on #320
@akanksha470 It's a duplicate issue #134

[2020-10-19 09:22] #320 closed

[2020-10-19 11:07] #292 closed

[2020-10-19 11:07] #314 closed

[2020-10-19 11:13] #257 closed

[2020-10-19 11:14] #209 closed

[2020-10-19 11:15] #307 closed

[2020-10-19 11:16] #218 closed

[2020-10-19 11:17] #185 closed

[2020-10-19 11:19] #229 closed

[2020-10-19 11:20] #311 closed

[2020-10-19 11:22] aayushi-droid opened #333 "simple OOP Calculator"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement:** Create methods for the Calculator class that can do the following:

- Add two numbers.
- Subtract two numbers.
- Multiply two numbers.
- Divide two numbers.

**Problem Link:** https://edabit.com/challenge/ta8GBizBNbRGo5iC6

---
Before submitting a PR please Check some details.C

[2020-10-19 11:22] #15 closed

[2020-10-19 11:23] #16 closed

[2020-10-19 11:23] aayushi-droid opened #334 "new word builder"
Before jumping into Pr first comment for assign.All Problem from Edabit. Link is mandatory to add

**Problem statement:** Create a function that builds a word from the scrambled letters contained in the first list. Use the second list to establish each position of the letters in the first list. Return a string from the unscrambled letters (that made-up the word).

**Problem Link:**  https://edabit

[2020-10-19 11:25] aayushi-droid commented on #113
Please Use Issue template for automate the Labeling process.

[2020-10-19 11:28] aayushi-droid commented on #88
I didn't receive the PR yet. ANyone else want to create PR.

[2020-10-19 11:40] #30 closed

[2020-10-19 11:40] #88 closed

[2020-10-19 11:40] #93 closed

[2020-10-19 11:40] #97 closed

[2020-10-19 11:40] #110 closed

[2020-10-19 11:40] #113 closed

[2020-10-19 11:40] #138 closed

[2020-10-19 11:40] #150 closed

[2020-10-19 11:40] #153 closed

[2020-10-19 11:40] #162 closed

[2020-10-19 11:47] #283 closed

[2020-10-19 12:01] sohan-naidu commented on #334
Can you assign this to me please?

[2020-10-19 12:17] RazCrimson commented on #333
Can I try this?

[2020-10-19 12:20] RazCrimson commented on #333
@aayushi-droid This seems to be a copy of Issue https://github.com/codeDroid1/Python-Thunder/issues/305. But the original assignee didnt have PRs, so its fine for me to try?

[2020-10-19 15:51] RazCrimson commented on #333
It never got assigned. You don't submit a PR before it gets assigned.Please read the guidelines

[2020-10-19 16:06] itsjatin135s commented on #323
Hello Buddy I had updated "FactorialOfANumber.py" but I thought that there is some issue in my pr so please could you giude me to the next stem or my I try pr again.
Thnak You

[2020-10-20 03:51] #306 closed

[2020-10-20 03:53] #305 closed

[2020-10-20 03:56] aayushi-droid commented on #333
duplicate of #305.

[2020-10-20 03:56] #333 closed

[2020-10-20 03:57] aayushi-droid commented on #333
Thanks @RazCrimson3
Check the Edabit.com and find a new question to create a new Issue and PR.

[2020-10-20 03:58] #296 closed

[2020-10-20 03:59] #327 closed

[2020-10-20 04:00] #288 closed

[2020-10-20 04:03] aayushi-droid commented on #267
Closing the issue.
- It doesn't look like a Edabit problem.
- problem link is missing.

[2020-10-20 04:03] #267 closed

[2020-10-20 04:05] #173 closed

[2020-10-20 04:33] #323 closed

[2020-10-20 07:28] RazCrimson commented on #333
Ok, got it.

[2020-10-20 08:14] darrylsepeda opened #344 "Provide lambda examples on less_than_100.py"
Before jumping into Pr first comment for assign. All Problem from Edabit. Link is mandatory to add

**Problem statement:** Given two numbers, return True if the sum of both numbers is less than 100. Otherwise return False.
**Problem Link:** https://edabit.com/challenge/pZ3HxBfvejsvkEDo4

Lambda function in python is a small anonymous function.

---
Before submitting a PR please Check some details.

[2020-10-20 08:29] na-vural opened #345 "Single Letter Swaps"
Before jumping into Pr first comment for assign. All Problem from Edabit. Link is mandatory to add

**Problem statement:** Given an array of strings and an original string, write a function to output an array of boolean values - `True` if the word can be formed from the original word by swapping two letters *only once* and `False` otherwise.
**Examples:**
[code]
**Problem Link:** https://edabit.co

[2020-10-20 08:29] na-vural commented on #345
May I solve this, can you assing me :) Thanks.

[2020-10-20 09:00] darrylsepeda commented on #344
please assign this to me

[2020-10-20 19:31] nssk1999 opened #347 "Get the Sum of All List Elements"
Before jumping into Pr first comment for assign. All Problem from Edabit. Link is mandatory to add

**Problem statement:** Create a function that takes a list and returns the sum of all numbers in the list.
**Problem Link:** https://edabit.com/challenge/foFKdr68vSENQ9AYB

---
Before submitting a PR please Check some details.Check Edabit for problem task

- [x] fileName format should be in camelcas

[2020-10-20 19:33] nssk1999 commented on #347
I was late by few hours
please accept my issue and assign it to me
I will send the PR as soon as issue assigned to me

[2020-10-21 05:32] devaslooper opened #348 "[Problem] [Python] [Hacktoberfest] QuadraticEquation"
Problem statement: Create a function to find only the root value of x in any quadratic equation ax^2 + bx + c. The function will take three arguments:
- a as the coefficient of x^2
- b as the coefficient of x
- c as the constant term
Problem Link: https://edabit.com/challenge/MDWFcHCTiJfHmwTFx

- [x]  fileName format should be in camelcase
example- returnTheNextNumber.py
- [x] Add label for Proble

[2020-10-21 05:55] devaslooper opened #350 "[Problem] [Python] [Hacktoberfest] Geometry 1: Length of Line Segment"
Problem statement: Write a function that takes coordinates of two points on a two-dimensional plane and returns the length of the line segment connecting those two points.
Problem Link: https://edabit.com/challenge/3Ekam9jvbNKHDtx4K

- [x]  fileName format should be in camelcase
example- returnTheNextNumber.py
- [x] Add label for Problem
- [x]  In file there should be problem statement and link to

[2020-10-21 05:58] devaslooper commented on #350
@aayushi-droid Sorry, I accidently stacked the commits in a single pull request while creating a pull request from my fork
PR: #349

[2020-10-22 17:22] nootz1999 opened #352 "Anyone else, who is unable to clone this repo (in Windows 10)"
I was unable to clone this repo, it was throwing an error, I am using windows 10.

**there is this file with  special character(*) in it's name in Solutions folder**

i think this file is creating the problem in cloning(due to it's name), cause after changing the name of this file in forked repo...i was able to clone, from forked repo,( not from the original repo).

can anyone please check this th

[2020-10-23 10:33] #334 closed

[2020-10-23 10:38] #347 closed

[2020-10-23 10:41] #344 closed

[2020-10-23 16:34] kazoni commented on #348
I'd be happy to take this one on.

[2020-10-23 16:54] kazoni commented on #350
I'll take this one on.

[2020-10-23 18:31] na-vural commented on #345
I have been ready for the pr @aayushi-droid, could you assing me :)

[2020-10-24 14:37] devaslooper commented on #348
@aayushi-droid Please assign

[2020-10-24 14:37] devaslooper commented on #350
@aayushi-droid Please assign

[2020-10-25 03:41] #326 closed

[2020-10-25 03:42] aayushi-droid commented on #352
Thanks for pointing out the issue. Windows doesn't allow some special characters in the file name.

[2020-10-25 03:45] #348 closed

[2020-10-25 03:45] #350 closed

[2020-10-25 10:55] darrylsepeda commented on #344
Thank you @aayushi-droid !

[2020-10-26 11:55] nootz1999 commented on #352
#353

[2020-10-26 11:55] #352 closed

[2020-10-27 02:51] #345 closed

[2020-10-30 13:38] kaushalendra-pandey opened #360 "Sudoku Solver"
Before jumping into Pr first comment for assign. All Problem from Edabit. Link is mandatory to add

Problem Statement : Write a program to solve a Sudoku puzzle by filling the empty cells.

A sudoku solution must satisfy all of the following rules:

Each of the digits 1-9 must occur exactly once in each row.
Each of the digits 1-9 must occur exactly once in each column.
Each of the digits 1-9 must

[2020-10-30 20:30] jsilva234 commented on #360
I would like to be assign this issue :)

[2020-11-06 14:34] nitish771 commented on #360
Can multiple persons be assigned on same problem. If yes, I would love to.

[2020-11-10 06:56] nitish771 commented on #274
Should i request for PR.

[2021-10-05 05:19] avyayjain opened #367 "chat bot to do some task"
chatbot to do some daily chores such as play music search on google Wikipedia etc etc

[2021-10-05 13:05] 26tanishabanik commented on #367
Please assign this task to me.

[2022-06-12 11:28] #231 closed

[2022-06-12 11:29] Diadochokinetic commented on #231
This was Hackotberfest two years ago

[2022-10-13 03:37] #367 closed

[2022-10-13 03:37] #360 closed

[2022-10-13 03:37] #280 closed

[2022-10-13 03:37] #274 closed

[2022-10-13 03:37] #255 closed

[2022-10-13 03:37] #251 closed

[2022-10-13 03:37] #214 closed

[2022-10-13 03:37] #191 closed

[2022-10-14 03:47] #188 closed

[2022-10-14 03:47] #184 closed

[2022-10-14 03:47] #183 closed

[2022-10-14 03:47] #182 closed

[2022-10-15 03:36] #180 closed

[2022-10-15 03:36] #174 closed